// XL button
.btn-xl {
  padding: pixelToRem(20px) pixelToRem(65px);
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
}

// close button for modals
.close {
  &:focus {
    outline: none;
  }
}

// btn text only
.btn-text-only {
  color: var(--primary);
  background-color: transparent;
  border-color: transparent;
  font-size: pixelToRem(16px);
  font-weight: $font-weight-regular;
  padding: pixelToRem(7px) pixelToRem(12px);

  &:hover {
    color: var(--primary);
    background-color: var(--light-blue);
  }

  &.focus,
  &:focus {
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }

  &.disabled,
  &:disabled {
    color: var(--text-muted);
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show>&.dropdown-toggle {
    background-color: #a0a5ff;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show>&.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #a0a5ff;
  }
}

// Btn transparent
// .btn-transparent {
//   @include button-variant(null, null, null, null);
//   color: $primary-color;

//   &:focus, .btn-outline-cancel.focus {
//     border: 0;
//   }
// }
