// *************************************************
// Default Card 
.card {
  box-shadow: $nao-card-box-shadow;
}

// *************************************************
// Nao card 1
.nao-card-1 {
  .card-header {
    padding: 15px 40px;
  }

  .card-body {
    padding: 24px 40px 15px 40px;
    background-color: var(--bg-3);
  }

  .card-footer {
    padding: 15px 30px;
  }
}

// *************************************************
// Nao card small for dashboard
.nao-card-sm-dashboard {
  width: 276px;
  height: 110px;
  border-radius: $nao-card-border-radius;
  box-shadow: $nao-card-box-shadow;
  padding: 5px 5px 5px 15px;
  line-height: normal;

  .nao-card-subtitle {
    font-size: pixelToRem(16px);
    color: var(--text-primary);
  }

  .nao-card-number {
    font-size: pixelToRem(32px);
    font-weight: $font-weight-semibold;
    color: var(--text-secondary);
  }

  .nao-card-percentage {
    font-size: pixelToRem(13px);
  }
}

// *************************************************
// Nao card large for dashboard
.nao-dashboard-lg-card {
  width: 576px;
  height: 420px;
  border-radius: $nao-card-border-radius;
  box-shadow: $nao-card-box-shadow;

  @include media-breakpoint-down(sm) {
    max-width: 576px;
    width: 100%;
  }

  .nao-dashboard-card-body {
    padding: 0 20px;
  }

  .nao-dropdown-menu {
    i {
      font-size: pixelToRem(12px);

      &::before {
        vertical-align: middle;
      }
    }
  }

  .title-container {
    height: 54px;
    padding: 0 20px;

    .nao-card-title {
      font-size: pixelToRem(16px);
      color: var(--text-primary-lighter);
    }

  }
}

// *************************************************
// Nao card for boards
.nao-card-board {
  width: 325px;
  height: 150px;
  line-height: 150px;
  cursor: pointer;
  color: var(--text-primary);
  margin-bottom: 50px;
  font-size: pixelToRem(24px);
  border-radius: $nao-card-border-radius;
  box-shadow: $nao-card-box-shadow;
  background-color: var(--white);
  font-weight: $font-weight-semibold;

  &:focus {
    outline: none !important;
  }
}

.nao-card-board-2 {
  width: 325px;
  height: 150px;
  cursor: pointer;
  color: var(--text-primary);
  margin-bottom: 50px;
  border-radius: $nao-card-border-radius;
  box-shadow: $nao-card-box-shadow;
  background-color: var(--white);
  padding: 30px 30px 11px 30px;
  position: relative;

  .nao-card-name {
    font-size: pixelToRem(24px);
    font-weight: $font-weight-semibold;
  }

  .nao-board-name {
    font-size: pixelToRem(16px);
  }

  .nao-card-info {
    bottom: 11px;
    right: 30px;
    position: absolute;
    font-size: pixelToRem(14px);
    font-weight: $font-weight-lighter;
  }

  &:focus {
    outline: none !important;
  }
}


// *************************************************
// Nao card for tickets
.nao-kanban-ticket {
  width: 248px;
  margin: 0 16px 10px 16px;
  border-radius: 8px;
  background-color: var(--white);

  .dropdown-item {
    font-size: pixelToRem(12px);
  }

  .ticket-header {
    display: flex;
    font-size: pixelToRem(16px);
    margin-bottom: 5px;
    justify-content: space-between;

    .ticket-options-btn {
      align-self: baseline;
    }
  }

  .ticket-body {
    font-size: pixelToRem(13px);
    font-weight: $font-weight-regular;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    color: var(--text-primary);

    .nao-badge-text {
      font-size: pixelToRem(14px);
      margin-left: 14px;
    }

    .ticket-field {
      margin-bottom: 15px;

      .ticket-label {
        margin-bottom: 3px;
        font-size: pixelToRem(12px);
        font-weight: $font-weight-lighter;

        i {
          color: var(--border-light);
        }
      }

      .ticket-text {
        font-weight: $font-weight-semibold;
        font-size: pixelToRem(12px);
      }

      .badge-grey {
        font-size: pixelToRem(12px);
        font-weight: $font-weight-bold;
        border-radius: 4px;
        background-color: #e9eef9;
        padding-left: 14px;
        padding-right: 14px;
      }

      .ticket-avatar-icon {
        position: relative;
        font-size: pixelToRem(12px);

        .initial-avatar {
          position: absolute;
          left: 0;
          color: var(--white);
          border-radius: 50%;
          border: 2px solid var(--white);
          background-color: var(--success);
          padding: 2px 0px 0px 3px;
          line-height: 10px;
          width: 18px;
          height: 18px;
        }

        .badge-avatar {
          font-size: pixelToRem(12px);
          margin-left: 5px;
          border-radius: 4px;
          background-color: #e9eef9;
          padding-left: 18px;
          padding-right: 26px;
        }

      }
    }

  }

  .ticket-footer {
    align-content: center;
  }
}

.nao-pill-lg {
  border-radius: 12px;
  padding: 2px 10px;
  font-size: pixelToRem(12px);
}

.nao-pill-text-7 {
  background-color: var(--text-7);
}


.ticket-btn {
  padding: 0 3px 3px 3px;
}

//  Nao lane card
.nao-kanban-lane {
  background-color: var(--bg-3);
  border-radius: 8px;
  width: 280px;

  .nao-lane-header {
    padding: 17px 27px 20px 22px;
    font-size: pixelToRem(14px);
    font-weight: $font-weight-lighter;
  }

  .nao-lane-footer {
    position: relative;
    height: 80px;
    width: 100%;

    .number-cards {
      position: absolute;
      bottom: 13px;
      left: 17px;
      font-size: pixelToRem(14px);
      color: var(--text-primary);
      font-weight: $font-weight-lighter;
    }

    .circle-icon {
      cursor: pointer;
      background-color: var(--primary);
      display: inline-block;
      border-radius: 50%;
      padding: 9px;
      height: 32px;
      width: 32px;
    }

    .nao-icon-add {
      color: var(--white);
      font-size: 14px;
      position: absolute;
      bottom: 9px;
      left: 50%;
      line-height: 14px;
      transform: translateX(-50%);
    }
  }
}

.nao-card-form-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 430px;
  border-radius: 8px;
  box-shadow: $nao-card-box-shadow;
  background-color: var(--white);
  padding: 61px 50px 22px 50px;

  .headshot {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    img {
      width: 90px;
      height: 90px;
      border-radius: 50%
    }
  }


  @include media-breakpoint-down(xs) {
    width: 340px;
    padding: 40px 20px 20px 20px !important;
  }

  .forgot-pass {
    font-size: pixelToRem(13px);
    color: var(--text-primary);
  }

  .already-have-a-user {
    font-size: pixelToRem(12px);
    font-weight: $font-weight-semibold;

    a {
      text-decoration: underline;
      color: var(--text-primary);
      font-weight: $font-weight-bold;
    }
  }

  .nao-form-message {
    position: relative;
    font-size: pixelToRem(10px);
    font-weight: $font-weight-bold;
    color: var(--text-primary-lightest);
    min-height: 28px;
    padding: 9px;
    border-radius: 4px;
    margin-bottom: 35px;

    i {
      font-size: 17px;
      line-height: 14px;
      position: absolute;
      top: -9px;
      left: -9px;
    }
  }

  hr {
    color: var(--bg-2);
  }
}

.nao-under-card-message {
  font-size: pixelToRem(12px);
  font-weight: $font-weight-bold;

  .simple-link {
    text-decoration: underline;
    color: var(--text-primary);
  }

  .btn-outline-only-primary {
    font-weight: $font-weight-bold;
    color: var(--primary);
    min-width: 74px;
    margin-left: 10px;
  }
}

.nao-blue-rounded-box {
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 var(--border-light);
  background-color: var(--bg-3);
  margin: 0 10px 20px 10px;
  min-height: 28px;

  .box-header {
    padding: 5px 32px;
    font-size: pixelToRem(13px);
    font-weight: $font-weight-bold;
    color: var(--text-secondary);
  }

  .box-container {
    padding: 30px 32px 20px 32px;
    font-size: pixelToRem(13px);
    color: var(--text-primary-lightest);
    font-weight: $font-weight-semibold;

    // Responsive grid for 4 input groups with ng-select
    .nao-grid-4-input-dropdown {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 15px;
      grid-row-gap: 20px;

      @include media-breakpoint-down(md) {
        grid-template-columns: auto;
      }
    }

    .nao-add-items-container {
      max-width: 500px;

      .item-mb-fix {
        margin-bottom: 20px;
      }
    }

    .add-another-btn {
      padding-left: 0 !important;

      i {
        font-size: 17px;
        line-height: 13px;
      }
    }
  }
}

.nao-shippable-input-group {
  .nao-label-sm-1 {
    min-width: 58px;
  }

  .ng-select {
    min-width: 52px;
    max-width: 285px;
  }
}
