// *************************************************
// Datepicker variables
$main-bg: #fff;
$custom-range-bg: #eee;

$main-box-shadow: #aaa;

$font-color-01: var(--white);
$font-color-02: var(--text-secondary);
$font-color-03: #54708b;

$border-color: #e9edf0;
$highlighted: #e9edf0;

$btn-bg: #e9edf0;
$btn-bg-hover: #d5dadd;

$btn-bg2: #9aaec1;
$btn-bg2-hover: #54708b;

$theme-dark-blue: #3e40db;

$disabled-background: rgba(221, 221, 221, 0.3);
$disabled-color: #f5f5f5;

$theme-list: ('dark-blue': $theme-dark-blue,
);

// *************************************************
// Datepicker ngx-bootstrap import
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

// *************************************************
// nao custom datepicker class
.nao-custom-datepicker {
  .bs-datepicker-head {
    background-color: var(--white);
  }
    .bs-datepicker-body table th {
      font-size: 12px;
      font-weight: $font-weight-bold;
    }

    .bs-datepicker-body table td,
    .bs-datepicker-head button {
      color: var(--text-secondary) !important;
    }
}
