.nao-btn-dropdown-menu-1 {
  padding: 0;
  font-size: pixelToRem(12px);
  font-weight: $font-weight-bold;
  line-height: 1.8;
  color: var(--text-primary-lighter);
}

.nao-dropdown-1 {
  width: fit-content;
  padding: 5px 0;

  .dropdown-item {
    padding: .438rem 1.25rem !important;
    font-size: pixelToRem(13px) !important;
  }

  @include rtl {
    text-align: right;
  }
}

.nao-dropdown-2 {
  min-width: 60px;
  font-size: pixelToRem(12px);
  top: 0px !important;
  left: auto !important;
  right: -20px;

  .dropdown-item {
    padding: pixelToRem(2.2px) pixelToRem(19.2px);
  }

  @include rtl {
    text-align: right;
  }
}

.dropdown-remove-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}

.nao-dropdown-profile {
  height: 60px;
  padding: 7px 20px;
  font-size: pixelToRem(12px);
  min-width: 190px;
  color: var(--text-secondary);

  .nao-dropdown-small-text {
    font-size: pixelToRem(10px);
  }
}

.nao-dropdown-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;

  @include rtl {
    margin-right: 0;
    margin-left: 10px;
  }
}

.nao-dropdown-3 {
  .dropdown-item-header {
    background-color: var(--lighter);
    font-weight: $font-weight-semibold;
  }

  .dropdown-item {
    padding: 6px 9px;
    font-size: pixelToRem(14px);
    color: var(--text-secondary);
  }

  .disabled {
    color: #d1d2d3 !important;
  }

  @include rtl {
    text-align: right;
  }
}

.nao-ng-select-sm {
  font-size: pixelToRem(11px);

  .ng-select-container {
    min-height: 31px !important;
    height: 31px !important;
  }
}

// ng select
.ng-option-disabled {
  color: $ng-select-primary-text !important;
}
