// *************************************************
// nao button dropdown menu
.nao-btn-dropdown-menu-1 {
  padding: 0;
  font-size: pixelToRem(12px);
  font-weight: $font-weight-lighter;
  // line-height: 1.8;
  color: var(--text-primary-lighter);
}

// *************************************************
// nao dropdown 1
.nao-dropdown-1 {
  width: fit-content;
  padding: 5px 0;

  .dropdown-item {
    padding: .438rem 1.25rem !important;
    font-size: pixelToRem(13px) !important;
  }

  .disabled {
    color: var(--shadow) !important;
  }

  @include rtl {
    text-align: right;
  }
}

// *************************************************
// nao dropdown 2
.nao-dropdown-2 {
  min-width: 60px;
  font-size: pixelToRem(12px);

  .dropdown-item {
    padding: pixelToRem(2.2px) pixelToRem(19.2px);
  }

  .disabled {
    color: var(--shadow) !important;
  }

  @include rtl {
    text-align: right;
  }
}

.dropdown-remove-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}

.nao-dropdown-profile {
  height: 60px;
  padding: 7px 20px;
  font-size: pixelToRem(12px);
  min-width: 190px;
  color: var(--text-secondary);

  .nao-dropdown-small-text {
    font-size: pixelToRem(10px);
  }

  .disabled {
    color: var(--shadow) !important;
  }
}

.nao-dropdown-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;

  @include rtl {
    margin-right: 0;
    margin-left: 10px;
  }
}

.nao-dropdown-avatar-container {
  position: relative;

  .dot {
    position: absolute;
    bottom: 0;
    right: 8px;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    border: 2px var(--white) solid;
    display: inline-block;

    @include rtl {
      right: unset;
      left: 8px;
    }
  }

  .dot_disconnected {
    background-color: var(--danger);
  }

  .dot_connected {
    background-color: var(--success);
  }

  .dot_idle {
    background-color: #bbb;
  }
}

.dropdown-item-danger {

  &:hover,
  &:active,
  &:focus {
    background-color: var(--danger) !important;
    color: var(--white)
  }
}

.dropdown-divider {
  border-top: solid 1px #caccd7;
  margin: 5px 0;
}

// *************************************************
// nao dropdown 3
.nao-dropdown-3 {
  .dropdown-item-header {
    background-color: var(--bg-1);
    font-weight: $font-weight-semibold;
  }

  .dropdown-item {
    padding: 6px 9px;
    font-size: pixelToRem(13px);
    color: var(--text-secondary);
    // font-weight: $font-weight-lighter;
  }

  .disabled {
    color: var(--shadow) !important;
  }

  @include rtl {
    text-align: right;
  }
}

// *************************************************
// ng-select
.ng-select.ng-select-opened > .ng-select-container {
  border: solid 1px var(--text-primary-lightest);
}

//todo: add this to docs
.ng-select-invalid .ng-select-container {
    border: solid 1px var(--danger) !important;
}

// *************************************************
// nao ng-select sm
.nao-ng-select-sm {
  font-size: pixelToRem(12px);

  .ng-select-container {
    min-height: pixelToRem(32px) !important;
    height: pixelToRem(32px) !important;
  }
}

// *************************************************
// nao ng-select sm
.nao-ng-select-xs {
  font-size: pixelToRem(12px);

  .ng-select-container {
    min-height: pixelToRem(22px) !important;
    height: pixelToRem(22px) !important;
  }
}

// ng select
.ng-option-disabled {
  color: $ng-select-primary-text !important;
}


// *************************************************
// Nao input ng-select group
.nao-input-dropdown-group-1 {

  .nao-label-sm-1,
  .nao-label-sm-2 {
    padding: 8px 15px 0 0;
  }

  .nao-label-1,
  .nao-label-1,
  .nao-label-3 {
    padding: 11px 15px 0 0;

  }
}

// *************************************************
// Nao ng-select 2
// todo: add default size
.nao-ng-select-sm-2 {
  border-radius: $border-radius;
  box-shadow: $nao-input-box-shadow;
  background-color: var(--white);
  font-size: pixelToRem(13px);
  height: 32px;


  .ng-select-container {
    min-height: 32px !important;
    height: 32px !important;
    border: 0 !important;
    color: var(--white) !important;
    background-color: var(--text-6) !important;
    border-radius: $border-radius;
    box-shadow: $nao-input-box-shadow;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.ng-select-opened > .ng-select-container {
    border: none !important;
  }

  &.ng-select {
    .ng-arrow-wrapper {
      .ng-arrow {
        border: none;
      }

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='10px' height='10px' viewBox='0 0 284.929 284.929' style='enable-background:new 0 0 284.929 284.929;' xml:space='preserve' class=''%3E%3Cg%3E%3Cg%3E%3Cpath d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: calc(100% - 0.5rem),
      100% 0;
      background-size: 0.7em 0.7em;
      background-repeat: no-repeat;
      border: 0;
      width: 18px;
    }

    .ng-placeholder {
      color: var(--white) !important;
    }
  }
}

// *************************************************
// nao dropdown for navigation bar
.nao-dropdown-navbar {
  min-width: 200px;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;

  .dropdown-item {
    padding: .625rem 0.5rem !important;
    font-size: pixelToRem(16px) !important;

    &:hover {
      background-color: var(--primary-opacity) !important;
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--primary-opacity) !important;
  }

  @include rtl {
    text-align: right;
  }
}


// *************************************************
// Nao helper tool
//
.nao-helper-tool {
  width: 445px;
  min-height: 70px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px var(--shadow);
  background-color: var(--white);
  padding: 20px 20px 20px 15px;
  line-height: normal;
  font-size: pixelToRem(12px);

  .title {
    color: var(--text-primary-lightest);
  }

  i {
    color: var(--primary);
    font-size: 16px;
    margin-right: 10px;
  }

  .d-flex:not(:last-child) {
    margin-bottom: 20px;
  }
}
