// *************************************************
// Nao Form labels
.nao-label-1 {
  font-size: pixelToRem(16px);
  color: var(--grey-blue);
}

.nao-label-2 {
  font-weight: $font-weight-semibold;
  font-size: pixelToRem(16px);
  color: var(--grey-blue);
}

.nao-label-sm-2 {
  font-weight: $font-weight-semibold;
  font-size: pixelToRem(13px);
  color: var(--grey-blue);
}

.nao-label-3 {
  font-size: pixelToRem(16px);
  color: var(--text-primary);
}

.nao-label-sm-3 {
  font-size: pixelToRem(13px);
  color: var(--text-primary);
}

// *************************************************
// Nao Form errors
.nao-error-sm {
  font-size: pixelToRem(13px);
}


// *************************************************
// Buttons
.btn {
  transition: all .2s ease-in-out;
}

// btn transition
.nao-btn-transition:hover {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--border-lightest);
  transform: translateY(-0.1rem);
}

.nao-btn-transition:disabled {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--border-lightest);
  transform: none;
}

.nao-btn-transition:focus,
.nao-btn-transition.focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--border-lightest);
  transform: translateY(-0.1rem);
}

// *************************************************
// Nao Textare fields
.nao-textarea {
  resize: none;
  height: 75px;
}

.nao-textarea-lg {
  resize: none;
  height: 150px;
}


// *************************************************
// Hide Arrows From Input Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}


// todo: add this to the docs
.nao-input-danger {
  border: 1px var(--danger) solid;
}