// *********************************
// Nao form labels
.nao-form-label-above {
  font-size: 1rem;
  color: var(--grey-blue);
}

.nao-form-label-inline {
  font-size: 1rem;
  padding: 8px 5px;
  color: var(--grey-blue);
}

// *********************************
// ng select
.ng-select.nao-select-default {

}

// *********************************
//



// *********************************
//
