.modal-title {
  font-weight: $font-weight-semibold;
}


.nao-modal-backdrop {
  background-color: var(--text-7);
  opacity: 0.25;
}

// Modal base
.nao-modal {

  .modal-title {
    margin-top: 3px;
    font-weight: $font-weight-semibold;
  }

  .modal-header {
    padding: pixelToRem(15px) pixelToRem(40px);
    font-size: pixelToRem(20px);
    min-height: 73px;
    color: var(--text-primary);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px)#c8cfe9 pixelToRem(15px);
    }
  }

  .modal-body {
    padding: pixelToRem(25px) pixelToRem(40px) pixelToRem(15px) pixelToRem(40px);
    color: var(--text-primary-light);
    font-size: pixelToRem(14px);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(20px) pixelToRem(15px) pixelToRem(20px);
    }
  }

  .modal-footer {
    padding: pixelToRem(15px) pixelToRem(30px);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(20px);
    }
  }
}

// *************************************************
// Nao modal 1
.nao-modal-1 {
  .modal-body {

  }
}

// *************************************************
// Nao modal 2
.nao-modal-2 {
  .modal-body {
    background-color: var(--bg-3);

    .nao-icon-information {
      font-size: pixelToRem(17px);
      line-height: 9px;
      margin-top: 2px;
    }

  }
}

// *************************************************
// Nao modal form
.nao-modal-form {

  .modal-header {
    padding: pixelToRem(20px) pixelToRem(30px);

    .modal-title {
      font-weight: $font-weight-semibold;
    }
  }

  .modal-body {
    color: var(--text-primary-light);
  }

  .modal-footer {
    padding: pixelToRem(20px) pixelToRem(30px);
  }
}
