.modal-title {
  font-weight: $font-weight-semibold;
}

// *************************************************
// Modal fixes
.nao-modal-backdrop {
  background-color: var(--text-7);
  opacity: 0.25;
}

.modal-backdrop.show {
  opacity: 0.25 !important;
}

// Modal full screen
.nao-full-screen-modal > .modal-dialog {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  top: 0;
  left: 0;
}

// *******************************************************************************
// * Modals sizes
.modal-md {
  .modal-content {
    max-width: 430px;
  }
}

// Modal base
.nao-modal {

  .modal-title {
    margin-top: 3px;
    font-weight: $font-weight-semibold;
  }

  .modal-header {
    padding: pixelToRem(15px) pixelToRem(40px);
    font-size: pixelToRem(20px);
    min-height: 73px;
    color: var(--text-primary);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(15px);
    }
  }

  .modal-body {
    padding: pixelToRem(25px) pixelToRem(40px) pixelToRem(15px) pixelToRem(40px);
    color: var(--text-primary-light);
    font-size: pixelToRem(14px);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(20px) pixelToRem(15px) pixelToRem(20px);
    }
  }

  .modal-footer {
    padding: pixelToRem(15px) pixelToRem(30px);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(20px);
    }
  }
}

// *************************************************
// Nao modal 1
.nao-modal-1 {

  .modal-body {

  }
}

// *************************************************
// Nao modal 2
.nao-modal-2 {
  .modal-title {
    margin-bottom: 3px;
  }

  .modal-body {
    background-color: var(--bg-3);

    .nao-icon-information {
      font-size: pixelToRem(17px);
      line-height: 9px;
      margin-top: 2px;
    }
  }
}

// *************************************************
// Nao modal form
.nao-modal-form {
  .modal-header {
    padding: pixelToRem(15px) pixelToRem(40px);
    font-size: pixelToRem(20px);
    min-height: 73px;
    color: var(--text-primary);

    .modal-title {
      margin-bottom: 3px;
      font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(15px);
    }
  }

  .modal-body {
    color: var(--text-primary-light);
  }

  .modal-footer {
    padding: pixelToRem(20px) pixelToRem(30px);
  }
}
