.navbar {
  hr {
    border-color: rgba(78, 81, 85, .075)
  }

  .nao-help {
    font-size: 20px;
    line-height: 10px;
    color: var(--text-primary);
  }
}

// *************************************************
// nao main top navbar
.nao-navbar-container {
  overflow: hidden;
  white-space: nowrap;
}

.nao-navbar {
  border-bottom: solid 2px var(--primary);
  z-index: 1030;

  .navbar {
    padding-bottom: 0;

    @include media-breakpoint-down(sm) {
      padding-bottom: 8px;
    }
  }

  .nav-item {
    @include media-breakpoint-up(md) {
      align-self: flex-end;
    }

    ul {
      padding-left: 0;
      overflow: hidden;
      list-style-type: none;

      .nav-link {
        padding-left: 45px !important;
      }
    }
  }

  @include rtl {
    .navbar-nav {
      padding-right: 0 !important;
    }
  }

  .nao-navbar-collapse {
    @include media-breakpoint-down(sm) {
      background-color: var(--lightest);

      .nav-item a {
        padding: 1rem 1.7rem 1rem 1.4rem;
        text-align: left;
        border-bottom: 1px solid var(--border-primary);
        font-size: pixelToRem(16px);
        font-weight: $font-weight-semibold;
      }
    }

    a {
      color: var(--text-primary) !important;
      font-size: pixelToRem(16px);

      &:hover {
        background-color: rgba(62, 64, 219, 0.1);
      }
    }
  }

  .custom-toggler {
    &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(62,64,219, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .active {
    border-top: 2px var(--primary) solid !important;
    background-color: var(--light-blue) !important;
  }

}

.navbar-horizontal-prev,
.navbar-horizontal-next {
  height: 42px;
  position: relative;
  display: block;
  flex: 0 0 auto;
  width: 36px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: .5rem;
    height: .5rem;
    border: 1px solid;
    border-top: 0;
  }

  &.disabled {
    cursor: default !important;
  }

  &:hover {
    border-color: var(--border-light);
  }
}

// *************************************************
// utilities for navigation
.flex-row-reverse-rtl-only {
  @include rtl {
    flex-direction: row-reverse;
  }
}

.hide-navbar-scroll-buttons {
  height: 42px;
  min-width: 36px;

  .navbar-horizontal-prev,
  .navbar-horizontal-next {
    display: none !important;
  }
}

.navbar-horizontal-prev::after {
  border-right: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbar-horizontal-next::after {
  border-left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nao-icon-arrow {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13px' height='13px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='chevron-right'%3E%3Cpolygon points='94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  transition: transform 0.35s ease-in-out;
}

.nao-icon-arrow-active {
  transform: rotate(90deg);
}

.navbar-sm-fixed-top {
  @include media-breakpoint-down(sm) {
    background: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: solid 2px var(--primary);

    &.b-0 {
      border: 0;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}

.navbar-sm-absolute-container {
  @include media-breakpoint-down(sm) {
    background: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: solid 2px var(--primary);

    &.b-0 {
      border: 0;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}


// *************************************************
// Side bar menu navigation
.sidenav {
  position: relative;
  height: 100%;
  width: 285px;
  position: fixed;
  text-align: left;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6f8fb;
  overflow-x: hidden;
  font-size: pixelToRem(12px);
  line-height: 1.5;
  color: #47484c;

  .nao-logo {
    margin-bottom: 36px;

    @include rtl {
      margin-left: 58px;
    }
  }

  .title {
    font-weight: $font-weight-bold;
    color: var(--text-muted);
  }

  .item-link {
    font-weight: $font-weight-semibold;
  }

  @include rtl {
    left: unset;
    right: 0;
  }

  .sidenav-wrapper {
    position: relative;
    padding: 10px 10px 60px 37px;
    height: 100%;

    @include rtl {
      padding: 10px 37px 60px 10px;
    }
  }

  i {
    width: 16px;
    font-size: 16px;
    line-height: 14px;
    margin-right: 15px;

    @include rtl {
      margin-right: unset;
      margin-left: 15px;
    }
  }

  li {
    margin-top: 19px;
    margin-bottom: 19px;
    list-style-type: none;
    font-weight: $font-weight-bold;

    @include rtl {
      text-align: right;
    }

    a {
      color: var(--charcoal-grey);

      &:hover {
        color: var(--charcoal-grey);
        text-decoration: none;
      }
    }
  }

  ul {
    overflow: hidden;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inner {
    height: 0px;
    overflow: hidden;
  }

  .made-with {
    font-size: pixelToRem(12px);
    position: absolute;
    bottom: 24px;
    color: #a3a9c0;
  }
}
