.navbar {
  hr {
    border-color: rgba(78, 81, 85, .075)
  }

  .nao-help {
    font-size: 20px;
    line-height: 10px;
    color: var(--text-primary);
  }
}


// *************************************************
// utility for navigation
.flex-row-reverse-rtl-only {
  @include rtl {
    flex-direction: row-reverse;
  }
}

.nao-icon-arrow {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13px' height='13px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='chevron-right'%3E%3Cpolygon points='94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  transition: transform 0.35s ease-in-out;
}

.nao-icon-arrow-active {
  transform: rotate(90deg);
}


// *************************************************
// Naologic top navigation

// Nao dropdown navigation container
.nao-dropdown-navigation-container {
  margin-top: -30px;
  padding-top: 15px;
  background-color: unset;
  border-radius: unset;
  border: unset;
  box-shadow: unset;

  .nao-dropdown-navigation {
    border-radius: 4px;
    box-shadow: 0 1px 3px -1px var(--bg-2), 0 2px 5px -1px var(--text-6);
    background-color: var(--white);
    min-width: 270px;
    padding: 20px 0px;
    border: none;

    .dropdown-item {
      font-size: pixelToRem(16px);
      color: var(--text-primary);
      padding: 5px 25px;
      text-transform: capitalize;

      img {
        margin-right: 10px;
        width: 17px;
      }

      &:hover {
        background-color: unset;
      }

      &:not(.active-dropdown-item):hover {
        span {
          color: var(--text-primary-lightest);
        }
      }

      &.active-dropdown-item span {
        color: var(--primary);
      }
    }
  }
}

// Navigation mega-menu
.mega-menu {
  width: 100%;
  background-color: unset;
  border-radius: unset;
  border: unset;
  box-shadow: unset;
  margin: -30px 0 0 0;
  padding: 15px 0 0 0;
  white-space: normal;

  ul {
    padding: 23px 40px;
    max-width: 1530px;
    margin: 0 auto;
    padding-left: 46px !important;
    background-color: var(--white);
    border-radius: unset;
    border: unset;
    box-shadow: 0 1px 3px -1px var(--bg-2), 0 2px 5px -1px var(--text-6);

    @media screen and (max-width: 1560px) {
      max-width: 1170px;
      li {
        width: 33%;

        .mega-menu-item {
          width: 100%;
          max-width: 360px;
        }
      }
    }

    @media screen and (max-width: 1150px) {
      li {
        .mega-menu-item {
          .menu-item-title, .menu-item-description {
            max-width: 230px;
          }
        }
      }
    }
  }


  .mega-menu-item {
    width: 360px;
    height: 140px;
    padding: 25px 15px;
    transition: background-color 200ms ease 0s;
    color: var(--text-primary);
    cursor: pointer;

    .menu-item-icon {
      margin-right: 20px;
      color: var(--primary);
    }

    .menu-item-title {
      font-size: pixelToRem(16px);
      font-weight: $font-weight-semibold;
      width: 100%;
      max-width: 276px;
      min-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .menu-item-description {
      font-size: pixelToRem(13px);
      max-height: 53px;
      min-height: 53px;
      width: 100%;
      max-width: 276px;
      overflow: hidden;
      text-overflow: ellipsis;
      // create ellipsis effect for multiline
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    &:hover {
      background-color: var(--bg-3) !important;
      text-decoration: unset;

    }
  }
}

.mega-menu-btn {
  cursor: pointer;
}

.nao-navbar-content {
  overflow: hidden;
  white-space: nowrap;
}

.nao-navbar-container {
  z-index: 1030;
  position: relative;
  background-color: var(--white);
  padding: 20px 120px;
  max-width: 1570px;

  @media screen and (max-width: 1540px) {
    padding: 20px 60px;
  }

  @media screen and (max-width: 1350px) {
    padding: 20px;
  }

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .navbar-logo {
    max-width: 200px;
  }

  .btn-cart {
    font-size: 15px;
    min-width: 70px;
    padding: 10px 15px;

    @include media-breakpoint-down(md) {
      font-size: 13px;
      min-width: 50px;
      padding: 8px 10px;
    }
  }

  .navbar {
    padding-bottom: 0;
    padding-top: 0;

    @include media-breakpoint-down(md) {
      padding-bottom: 8px;
    }
  }

  .nav-item {
    @include media-breakpoint-up(lg) {
      align-self: flex-end;
    }

    .nav-link {
      padding: pixelToRem(5px) pixelToRem(15px);
      position: relative;
      color: var(--text-primary);
      font-size: pixelToRem(16px);
      transition: .2s;

      &:hover {
        color: var(--text-primary-lightest);
      }
    }

    ul {
      padding-left: 0;
      overflow: hidden;
      list-style-type: none;
    }
  }

  @include rtl {

  }

  .navbar-collapse {
    @include media-breakpoint-down(lg) {
      position: unset !important
    }

    @include media-breakpoint-down(md) {
      background-color: var(--bg-3);
      position: absolute !important;
      left: 0;
      right: 0;
      top: 50px;

      .nav-item a {
        padding: 1rem 1.7rem 1rem 1.4rem;
        text-align: left;
        border-bottom: 1px solid var(--border-primary);
        font-size: pixelToRem(16px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    a {
      color: var(--text-primary);
      font-size: pixelToRem(16px);
    }
  }

  .custom-toggler {
    &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(62,64,219, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .secondary-link {
    color: var(--text-primary);
    font-size: pixelToRem(16px);
    transition: .2s;

    &:hover {
      color: var(--text-primary-lightest);
    }
  }

  .active {
    color: var(--primary) !important;
  }
}

.navbar-horizontal-prev,
.navbar-horizontal-next {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  cursor: pointer;
  font-size: pixelToRem(12px);

  &.disabled {
    cursor: default !important;
  }

  &:hover {
    border-color: var(--border-light);
  }
}

.hide-navbar-scroll-buttons {
  height: 32px;

  i {
    display: none;
  }
}

// *************************************************
// Side bar menu navigation
.sidenav {
  position: relative;
  height: 100%;
  width: 285px;
  position: fixed;
  text-align: left;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6f8fb;
  overflow-x: hidden;
  font-size: pixelToRem(12px);
  line-height: 1.5;
  color: #47484c;

  .nao-logo {
    margin-bottom: 36px;

    @include rtl {
      margin-left: 58px;
    }
  }

  .title {
    font-weight: $font-weight-bold;
    color: var(--text-6);
  }

  .item-link {
    font-weight: $font-weight-semibold;
  }

  @include rtl {
    left: unset;
    right: 0;
  }

  .sidenav-wrapper {
    position: relative;
    padding: 10px 10px 60px 37px;
    height: 100%;

    @include rtl {
      padding: 10px 37px 60px 10px;
    }
  }

  i {
    width: 16px;
    font-size: 16px;
    line-height: 14px;
    margin-right: 15px;

    @include rtl {
      margin-right: unset;
      margin-left: 15px;
    }
  }

  li {
    margin-top: 19px;
    margin-bottom: 19px;
    list-style-type: none;
    font-weight: $font-weight-bold;

    @include rtl {
      text-align: right;
    }

    a {
      color: var(--charcoal-grey);

      &:hover {
        color: var(--charcoal-grey);
        text-decoration: none;
      }
    }
  }

  ul {
    overflow: hidden;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inner {
    height: 0px;
    overflow: hidden;
  }

  .made-with {
    font-size: pixelToRem(12px);
    position: absolute;
    bottom: 24px;
    color: #a3a9c0;
  }
}

// *************************************************
// sidenav 2
.nao-sidenav {
  position: relative;
  height: 100%;
  min-width: 280px;
  max-width: 280px;
  text-align: left;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  font-size: pixelToRem(12px);
  line-height: normal;
  color: var(--text-primary);


  @include rtl {
    left: unset;
    right: 0;
  }

  .sidenav-wrapper {
    position: relative;
    padding: 0 0 80px 0;
    height: 100%;

    .sidenav-divider {
      border-top: solid 1px var(--text-7);
    }

    i {
      width: 16px;
      font-size: 16px;
      line-height: 14px;
      margin-right: 30px;
      text-align: center;

      @include rtl {
        margin-right: unset;
        margin-left: 30px;
      }
    }

    li {
      padding-left: 21px;
      border-radius: 0 50px 50px 0;
      list-style-type: none;

      @include rtl {
        padding: 0 21px 0;
        border-radius: 50px 0 0 50px;
        text-align: right;
      }

      a {
        color: var(--text-primary);
        font-size: pixelToRem(14px);

        &:hover {
          text-decoration: none;
        }
      }
    }


    .group-name {
      font-weight: $font-weight-lighter;
      color: var(--text-primary-lightest);
      height: 40px;
      font-size: pixelToRem(11px);
      text-transform: uppercase;
    }

    .nav-item {
      height: 48px;

      &:hover {
        cursor: pointer;
        background-color: rgba(200, 207, 233, .4);
      }

      &.active {
        background-color: rgba(62, 64, 219, .2);
      }
    }

    .nao-sidenav-footer {
      position: absolute;
      padding-left: 21px;
      bottom: 30px;
      font-weight: $font-weight-lighter;
      font-size: pixelToRem(12px);

      @include rtl {
        padding: 0 21px 0;
        text-align: right;
      }

      a {
        color: var(--text-primary);

        &:hover {
          text-decoration: none;
        }
      }

      .oval {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: var(--text-primary);
      }

      .made-with {
        color: var(--text-primary-lightest);
      }
    }

  }


  // .inner {
  //   height: 0px;
  //   overflow: hidden;
  // }

}
