// *************************************************
// Nao simple table
.nao-simple-table {
  .table {
    position: relative;
  }

  thead {
    font-size: pixelToRem(14px);
    color: var(--text-primary-lightest);

    th {
      padding: 11px 5px;
      line-height: 1.6;
      background-color: #f7f9fc;
    }
  }

  .nao-sticky-thead {
    th {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
    }
  }

  tr {
    height: 31px;
  }

  td {
    font-weight: $font-weight-regular;
    padding: 0 0 0 5px;
    font-size: pixelToRem(14px);
    color: var(--text-primary);
    vertical-align: middle;
    border-bottom: solid 1px #dde1e3 !important;
  }
}

.nao-table-scroll-example {
  height: 300px;
  overflow: auto;
}

// *************************************************
// Nao card table 1
.nao-card-table-1 {
  border-radius: 8px;
  box-shadow: $nao-card-box-shadow;
  background-color: var(--white);

  .nao-row-overlay-container {
    height: 100%;
    position: absolute;
    right: 0;
    width: intrinsic;
    width: -moz-max-content;
    width: max-content;
    display: table;
  }

  .nao-row-overlay {
    height: 100%;
    background-color: var(--border-lightest);
    padding-left: 50px;

    .nao-icon-additional-options {
      font-size: 5px;
    }
  }

  .card-header {
    background-color: var(--bg-3);
    padding-right: 29px;
    padding-top: pixelToRem(12px);
    padding-bottom: pixelToRem(12px);

    .card-header-title {
      font-size: pixelToRem(20px);
      font-weight: $font-weight-regular;
      color: var(--text-secondary);
    }

    .card-header-subtitle {
      font-size: pixelToRem(16px);
      font-weight: $font-weight-regular;
      color: var(--text-secondary);
    }
  }

  .card-header.selected {
    background-color: var(--primary-opacity);
  }

  .card-body {
    background-color: var(--white);
    border-top: 1px var(--light) solid;
    border-bottom: 1px var(--light) solid;
  }

  .card-footer {
    border-top: 0px;
    padding-right: 29px;

    .rows-label {
      font-weight: $font-weight-lighter;
    }
    .page-link {
      border: 0;
      color: var(--text-secondary);
      font-size: pixelToRem(14px);
    }

    .page-item.active {
      .page-link {
        font-weight: $font-weight-bolder;
        background-color: transparent;
        color: var(--text-secondary);
      }
    }

    .custom-select {
      border: 0;
      color: var(--text-secondary);
      font-weight: $font-weight-bold;
    }
  }

  .table-header {
    background-color: var(--bg-3);

    tr {
      height: 30px;

      th {
        font-weight: $font-weight-lighter;
        font-size: pixelToRem(14px);
        color: var(--text-primary-lightest);
      }

      .nao-th-checkbox {
        padding: 3px 0 3px 13px;
        width: 94px;

        .custom-checkbox {
          margin-left: 27px !important;
        }
      }

      .nao-th {
        padding: 7px 5px;
      }
    }
  }

  .nao-table-info {
    font-size: pixelToRem(13px);
    font-weight: $font-weight-lighter;
    color: var(--text-primary-lightest);
  }

  .card-search {
    height: 56px;
    padding-right: 10px;
    padding-left: 19px;

    .ng-select-focused {
      border: 0 !important;
      box-shadow: none !important;
    }

    .ng-select-container {
      border: 0;
      box-shadow: none !important;

      .ng-arrow-wrapper {
        display: none;
      }
    }

    .ng-placeholder {
      padding-top: 6px;
      color: var(--text-6) !important;
    }

    .ng-value {
      //background-color: var(--bg-1) !important;
      //color: var(--text-primary) !important;
      //font-weight: $font-weight-semibold !important;
      //font-size: pixelToRem(16px) !important;
      //border-radius: 10px !important;
      //padding: 9px 14px 9px 14px !important;
    }

    .ng-option {
      color: var(--text-primary) !important;
    }

    .ng-option-marked {
      background-color: var(--bg-1) !important;
      color: var(--text-primary) !important;
    }

    .ng-select-focused {
      border: 0 !important;
    }
  }

  .table-body {
    tr {
      border-bottom: none;

      td {
        padding: 16px 5px;
        border-bottom: 1px var(--border-fill) solid;
        transition: padding .15s ease-in-out;

        .custom-checkbox {
          margin-left: 35px !important;
        }
      }

      .td-success {
        border-bottom: 1px var(--success) solid;
      }

      .td-danger {
        border-bottom: 1px var(--danger) solid;
      }

      &:last-child {
        border-bottom: 0px;
      }

      &:hover {
        background-color: var(--border-lightest);

        .show-on-hover {
          opacity: 1;
        }

        .nao-row-overlay {
          background-color: var(--border-lightest);
        }
      }

      &.selected {
        background-color: var(--primary-opacity);
      }
    }

    .show-on-hover {
      opacity: 0;
      display: block;
    }
  }

  .avatar {
    width: 28px;
    height: 28px;
    border-radius: 2px;
    background-color: var(--primary-lightest);
  }

  .role-icon {
    width: 4px;
    height: 15px;
    border-radius: 3.5px;
    background-color: var(--text-primary-light);
    margin-right: 6px;
  }

  .ion-ios-more {
    font-size: 15px;
    color: var(--text-primary);
  }

  .cell-multiline-header {
    font-size: pixelToRem(16px);
    color: var(--text-primary);
  }

  .cell-multiline-text {
    font-size: pixelToRem(15px);
    color: var(--text-6);
  }

  .dropdown-item:hover {
    background-color: var(--bg-1);
  }

  .dropdown-item.danger:hover {
    background-color: var(--danger);
    color: var(--white);
  }
}

// *************************************************
// Nao Table btn group for condensed/relaxed
.nao-condensed-btn-group {
  margin-left: auto;

  @include rtl {
    margin-left: unset;
    margin-right: auto;
  }

  .btn-condensed {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-relaxed {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include rtl {
    .btn-condensed {
      border-radius: 0 $border-radius $border-radius 0;
    }

    .btn-relaxed {
      border-radius: $border-radius 0 0 $border-radius;
    }

  }
}

// *************************************************
// Nao condensed table
.nao-condensed-table {
  .table-body {
    td {
      padding-top: 6px !important;
      padding-bottom: 6px !important;

      .btn-simple-primary {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .nao-row-overlay-container {
    height: unset;

    .nao-row-overlay {
      height: unset;
    }
  }
}
