<div class="nao-docs-wrapper">
  <h1 class="pb-4">Casting</h1>
  <div class="photography-container">
    <p class="content">
      Goal: Feature a wide range of people (age, race, gender, sexual orientation,
      ability, class, body type, etc.) interact with each other and with computers
      to illustrate how backoffice and enterprise software doesn’t have to be a
      dinosaur discipline with unrelatable settings, environments and people
      <br><br>
      - Subjects are not intended to look like professional models it should
      look impromptu
    </p>

    <h6 class="mb-3">Enterprise software and backoffice tech isn’t scary at all</h6>
    <div class="images-grid">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/4.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/5.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/6.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/overview-2.png" width="290">
    </div>
  </div>
</div>
