<div class="nao-docs-wrapper">
  <h1 class="pb-4">Lighting and Color </h1>
  <div class="photography-container">
    <p class="content font-weight-bold">
      Lighting appears like natural light
      <br><br>
      No harsh highlights or shadows, particularly on people’s faces
      <br><br>
      Images have high dynamic range—highlights and shadows hold shape and detail;
      skies, tree edges, etc. are not blown out; images hold an edge if placed on white
      <br><br>
      Wardrobe and location support simple and vibrant use of color on people and
      vehicles to draw the eye to the main focus
      <br><br>
      Don’t overly enhance images and do not apply filters on your own, design will do that
      <br><br>
      Neither lighting nor color processing are overly low-key, overly dramatic,
      or create a negative association
    </p>

    <h6 class="mb-3">Showing character and professionalism
      while being simplified</h6>
    <div class="images-grid">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/overview-3.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/10.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/11.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/12.png" width="290">
    </div>
  </div>
</div>
