<div class="d-none d-md-flex justify-content-end align-items-center top-menu-docs">
  <a href="https://naologic.com/" class="top-menu-item">
    Website
  </a>
  <!-- <a href="javascript:void(0)" class="top-menu-item">
    Documentation
  </a> -->
  <a href="https://crm.naologic.com/login" class="top-menu-item">
    CRM Login
  </a>
  <div class="btn-group" ngbDropdown container="body">
    <button type="button" class="btn btn-primary" ngbDropdownToggle>
      {{ dir | uppercase }}
    </button>
    <div class="nao-dropdown-1" ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)" (click)="changeDirTo('rtl')">RTL</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="changeDirTo('ltr')">LTR</a>
    </div>
  </div>
</div>

<!-- @deprecated to nao-navbar-1 -->
<!-- todo: change naming, check .sm-absolute-top,  and clean code-->
<!-- todo: fixed top on mobile devices -->
<div class="nao-navbar-2 bg-white pb-1 d-block d-md-none">
  <div class="content-wrapper d-flex justify-content-between px-md-4">
    <nav class="navbar navbar-expand-md navbar-light sm-fixed-top" [ngClass]="{'b-0' : !isCollapsed}"
      style="margin-bottom: -18px;">
      <a class="navbar-brand logo d-md-none mr-0" href="javascript:void(0)" [routerLink]="['/']"
        (click)="isCollapsed = true"><img src="assets/images/logo.svg" width="80px" alt="Naologic"></a>
    
        <button class="navbar-toggler hidden-sm-up custom-toggler border-0" type="button" data-toggle="collapse"
        data-target="#nao-navbar" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="nao-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nao-navbar-collapse" id="nao-navbar" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav border-bottom-0">

          <li class="nav-item" (click)="isCollapsed=true">
            <a href="https://naologic.com/" class="nav-link">Website</a>
          </li>
          <!-- <li class="nav-item" (click)="isCollapsed=true">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/']">Documentation</a>
          </li> -->

          <li class="nav-item" (click)="isCollapsed=true">
            <a href="https://crm.naologic.com/login" class="nav-link">CRM Login</a>
          </li>

          <li *ngFor="let elem of menuItems; let i = index" class="nav-item">
            <div *ngIf="elem.type ==='items'">
              <a href="javascript:void(0)" (click)="toggleMenu(i)"
                class="nav-link d-flex align-items-center justify-content-between">
                <div>{{ elem.text }}</div>
                <i class="nao-icon-arrow" [ngClass]="{'nao-icon-arrow-active': elem.isOpen}"></i>
              </a>

              <ul class="m-0" [@expandCollapse]='elem.isOpen' *ngIf="elem.isOpen">
                <li *ngFor="let item of elem.items" class="nav-item" (click)="isCollapsed=true; elem.isOpen=false">
                  <a href="javascript:void(0)" [routerLink]="item.route" class="nav-link pl-0">{{item.text}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>

    </nav>
    <div class="d-none d-md-inline">
      <a class="btn nao-btn bg-primary" href="javascript:void(0)" [routerLink]="['/', 'login']">CRM
        Login</a>
    </div>
  </div>

</div>
