<div class="nao-docs-wrapper">
  <h1 class="pb-4">Compositions</h1>
  <div class="photography-container">
    <p class="content font-weight-bold">
      Goal: Bold use of open space allows for an inviting expression of optimism.
      <br><br>
      - Use of negative space in the image moves the eye quickly to the main focus
      <br><br>
      - Include negative space around the subject to allow for the placement of
      additional design elements such as typography
      <br><br>
      - Note that rule of thirds or leading line compositions can be great ways to
      create open space
      <br><br>
      - Highlight the subject and the activity, movement, connection they are
      experiencing by keeping composition simple.
      <br><br>
      - Coordinate locations, backgrounds, and wardrobe to establish a visual simplicity
      <br><br>
      - Simplify the scene rather than overusing shallow depth of field
    </p>

    <h6 class="mb-3">Open with negative space</h6>
    <div class="images-grid">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/1.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/2.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/3.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/overview-1.png" width="290">
    </div>
  </div>
</div>
