// *************************************************
// Body
$body-color: var(--text-primary);
$enable-validation-icons: false;

// *************************************************
// Typography
$h1-font-size: pixelToRem(40px);
$h2-font-size: pixelToRem(32px);
$h3-font-size: pixelToRem(30px);
$h4-font-size: pixelToRem(24px);
$h5-font-size: pixelToRem(20px);
$h6-font-size: pixelToRem(16px);

// *************************************************
// Buttons
$border-radius: 0.2625rem;
$border-radius-sm: 0.1875rem;
$border-radius-lg: 0.31875rem;

$btn-disabled-opacity: 0.3;
$btn-focus-width: 0;
$btn-active-box-shadow: none;
$btn-box-shadow: 0 1px 3px 0 #c8cfe9;
$btn-focus-box-shadow: 0 3px 3px 0 #c8cfe9;
$btn-font-weight: $font-weight-semibold;
$btn-padding-y: pixelToRem(6px);
$btn-padding-x: pixelToRem(7px);
$input-btn-font-size: 0.875rem;

$btn-padding-y-sm: pixelToRem(3px);
$btn-padding-x-sm: pixelToRem(5px);
$btn-font-size-sm: .75rem;

$btn-padding-y-lg: pixelToRem(9px);
$btn-padding-x-lg: pixelToRem(15px);
$btn-font-size-lg:  1rem;


// *************************************************
// Inputs
$input-padding-y: pixelToRem(8px);
$input-padding-x: pixelToRem(5px);
$input-color: var(--text-secondary);
$input-font-size: 1rem;
$input-border-color: var(--border-primary);
$input-box-shadow: $nao-input-box-shadow;
$input-focus-width: 0;
$input-focus-box-shadow: 0 0 10px var(--border-light);
$input-focus-border-color: transparent;
$input-placeholder-color: var(--border-light);
// sm
$input-height-sm: pixelToRem(32px);

// *************************************************
// Checkbox
$enable-shadows: true;
$custom-control-indicator-size: 1.125rem;
$custom-control-indicator-border-color: #687196;
$custom-control-indicator-box-shadow: 0 1px 6px 0 #c8cfe9;

// *************************************************
// Cards
$card-cap-bg: var(--white);
$card-border-radius: pixelToRem(8px);
$card-spacer-y: pixelToRem(15px);
$card-spacer-x: pixelToRem(42px);
$card-border-width: 0;

// *************************************************
// Modals
// todo change modal sizes
$modal-content-border-radius: pixelToRem(8px);
$modal-header-padding-y: pixelToRem(18px);

$modal-content-box-shadow-xs: 0 2px 4px 3px #d8dceb;  
$modal-content-box-shadow-sm-up:0 2px 4px 3px #d8dceb;
$modal-content-border-width: 0;

// *************************************************
// Dropdowns
$dropdown-box-shadow: 0 1px 6px rgba(0,0,0,.09);;
$dropdown-link-hover-color: #4e5155;
$dropdown-link-hover-bg: #e3e5f0;

$dropdown-link-active-color:#4e5155;
$dropdown-link-active-bg: #e3e5f0;

$dropdown-item-padding-y: .125rem;
$dropdown-item-padding-x: 0;