.bg-text-primary {
  background-color: var(--text-primary);
}

//todo: add to docs
.border-bottom {
  border-bottom: 1px solid #e6ebf0 !important;
}
.border-top {
  border-top: 1px solid #e6ebf0 !important;
}

//todo: add to docs
.border-dashed-danger {
  border: dashed 1px var(--danger);
}


//todo: add to docs
// bug when using 2 separated classes
.nao-header-primary {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.nao-header-danger {
  background-color: var(--danger) !important;
  color: var(--white) !important;
}

.fix-checkbox-center {
  padding-top: 3px;
}

.position-unset {
  position: unset !important;
}
