.bg-text-primary {
  background-color: var(--text-primary);
}

//todo: add to docs
.border-bottom {
  border-bottom: 1px solid #e6ebf0 !important;
}
.border-top {
  border-top: 1px solid #e6ebf0 !important;
}
