// *************************************************
// Generate .no-gutters for all breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    // Remove the negative margin from default .row, then the horizontal padding
    // from all immediate children columns (to prevent runaway style inheritance).
    .no-gutters-#{$breakpoint} {
      margin-right: 0;
      margin-left: 0;

      >.col,
      >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
