<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Buttons</h1>
    <p class="description">
      Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes,
      states, and more.
    </p>

    <div class="elem-container">
      <h2 class="title">Examples</h2>
      <p>
        includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control. <br>
        And we have a text only button using the class <span class="highlighter-warning">.btn-text-only</span>
      </p>

      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[0].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Button tags</h2>
      <p>
        The <span class="highlighter-warning">.btn</span> classes are designed to be used with the <span
          class="highlighter-warning">&lt;button&gt;</span>element. However, you can also use these classes on
        <span class="highlighter-warning">&lt;a&gt;</span> or <span class="highlighter-warning">&lt;input&gt;</span>
        elements (though some browsers may apply a slightly different rendering).
        <br>
        When using button classes on <span class="highlighter-warning">&lt;a&gt;</span> elements that are used to
        trigger in-page functionality (like collapsing
        content), rather than linking to new pages or sections within the current page, these links should be
        given a role="button" to appropriately convey their purpose to assistive technologies such as screen
        readers.
      </p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[1].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Outline buttons</h2>
      <p>
        In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with
        the <span class="highlighter-warning">.btn-outline-*</span> ones to remove all background images and colors on
        any button.
      </p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[2].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Custom outline buttons with transparent bg</h2>
      <p>
        In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with
        the <span class="highlighter-warning">.btn-outline-only-*</span> ones to remove all background images and colors
        on
        any button.
      </p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[3].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>


    <div class="elem-container">
      <h2 class="title">Sizes</h2>
      <p>Fancy extra large, larger or smaller buttons? Add <span class="highlighter-warning">.btn-xl</span>, <span
          class="highlighter-warning">.btn-lg</span> or <span class="highlighter-warning">.btn-sm</span> for additional
        sizes.
      </p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[4].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[4].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[5].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[5].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[5].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[6].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[6].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[6].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
      <p>Create block level buttons—those that span the full width of a parent—by adding <span
          class="highlighter-warning">.btn-block</span>.</p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[7].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[7].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[7].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Active state</h2>
      <p>Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active.
        <strong>There’s no need to add a class to <span class="highlighter-warning">&lt;button&gt;</span>s as they use a
          pseudo-class</strong>. However, you can still force the same active appearance with <span
          class="highlighter-warning">.active</span> (and include the <span
          class="highlighter-warning">aria-pressed="true"</span> attribute) should you
        need to replicate the state programmatically.</p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[8].html | sanitizeHtml"></div>
     
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[8].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[8].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>

      <h2 class="title">Disabled state</h2>
      <p>
        Make buttons look inactive by adding the disabled boolean attribute to any <span
          class="highlighter-warning">&lt;button&gt;</span> element.
      </p>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[9].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[9].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[9].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
      <p>Disabled buttons using the <span class="highlighter-warning">&lt;a&gt;</span> element behave a bit different:
      </p>
      <ul>
        <li>
          <span class="highlighter-warning">&lt;a&gt;</span>s don’t support the <span
            class="highlighter-warning">disabled</span> attribute, so you must add the <span
            class="highlighter-warning">.disabled</span> class to make it visually appear disabled.
        </li>
        <li>
          Some future-friendly styles are included to disable all <span
            class="highlighter-warning">pointer-events</span>
          on
          anchor buttons. In browsers which support that property, you won’t see the disabled cursor at all.
        </li>
        <li>
          Disabled buttons should include the <span class="highlighter-warning">aria-disabled="true"</span> attribute to
          indicate the state of the element to assistive technologies.
        </li>
      </ul>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[10].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[10].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[10].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Transition when hovered</h2>
      <div class="nao-bd-example nao-btn-example" [innerHTML]="data[11].html | sanitizeHtml"></div>
      
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[11].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[11].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

  </div>
</div>
