<!-- todo: Add plugin  -->
<!-- todo: all the border radius arethe same -->
<!-- todo: change the secondary color -->

<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Modal</h1>
    <p class="description"></p>

    <div class="elem-container">
      <h2 class="title">Simple modal</h2>
      <div class="nao-bd-example nao-modal-example" [innerHTML]="data[0].code | sanitizeHtml"></div>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].code)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].syntaxHighlighter | sanitizeHtml"></div></pre>
      </div>
      <p>Comes in diffrent sizes</p>
      <ul>
        <li>
          <span class="highlighter-warning">.modal-sm</span>
        </li>
        <li>
          <span class="highlighter-warning">.modal-md</span>
        </li>
        <li>
          <span class="highlighter-warning">.modal-lg</span>
        </li>
        <li>
          <span class="highlighter-warning">.modal-xl</span>
        </li>
      </ul>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao modal 1</h2>
      <div class="nao-bd-example nao-modal-example" [innerHTML]="data[1].code | sanitizeHtml"></div>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].code)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].syntaxHighlighter | sanitizeHtml"></div></pre>
      </div>
      <p>You can change the header background by using a <span class="highlighter-warning">.bg-*</span> color class, here are a few examples:</p>
      <ul>
        <li>
          <span class="highlighter-warning">.bg-primary</span>
        </li>
        <li>
          <span class="highlighter-warning">.bg-secondary</span>
        </li>
        <li>
          <span class="highlighter-warning">.bg-success</span>
        </li>
        <li>
          <span class="highlighter-warning">.bg-warning</span>
        </li>
        <li>
          <span class="highlighter-warning">.bg-danger</span>
        </li>
      </ul>

    </div>
  </div>
</div>
