.nao-landing-page {
  color: var(--text-primary);

  .hero {
    padding-top: 100px;
    padding: 100px 150px 100px 150px;
    background-image: url("assets/images/landing-page/heroimage.png");
    background-size: cover;

    .content {
      width: 100%;
      max-width: 1084px;
      height: 770px;
      border-top-left-radius: pixelToRem(4px);
      border-top-right-radius: pixelToRem(4px);
      background-color: var(--white);
      padding: 200px 75px 0 75px;

      .description {
        max-width: 780px;
        font-size: pixelToRem(85px);
        font-weight: $font-weight-bold;
        color: var(--text-primary);;
      }
    }

    @include media-breakpoint-down(lg) {
      max-height: 780px;

      .content {
        height: 580px;
        padding: 150px 50px 150px 50px;

        .description {
          font-size: pixelToRem(70px);
        }
      }
    }

    @media screen and (max-width: 885px) {
      padding: 100px 80px 100px 80px;
      max-height: 780px;

      .description {
        font-size: pixelToRem(50px);
      }
    }

    @include media-breakpoint-down(sm) {
      max-height: 500px;

      .content {
        height: unset;
        padding: 80px 50px 80px 50px;

        .description {
          font-size: pixelToRem(38px);
        }
      }
    }

    @include media-breakpoint-down(xs) {
      padding: 70px 40px 100px 40px;
      max-height: 340px;

      .content {
        padding: 40px 20px;

        .description {
          font-size: pixelToRem(28px);
        }
      }
    }

  }

  .title {
    font-size: pixelToRem(36px);
    font-weight: $font-weight-extra-bold;

    @include media-breakpoint-down(sm) {
      font-size: pixelToRem(24px);
    }
  }

  .description {
    font-size: pixelToRem(26px);

    @include media-breakpoint-down(sm) {
      font-size: pixelToRem(16px);
    }
  }

  .info-section {
    padding: 150px 40px 100px 40px;

    .content {
      color: var(--text-primary);
      padding-right: 60px;


      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }

    img {
      height: 100%;
    }

    @media screen and (max-width: 1440px) {
      .wrapper {
        max-width: 970px;
      }

      .content {
        max-width: 745px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 80px 40px 100px 40px;
    }
  }

  .elements-section {
    background-color: var(--text-primary);
    padding: 80px 40px 100px 40px;
    color: var(--white);

    a {
      color: var(--white);
    }

    .elements-grid {
      margin-top: 90px;
      display: grid;
      grid-template-columns: 295px 295px 295px;
      grid-column-gap: 118px;
      grid-row-gap: 75px;

      .element {
        width: 291px;

        .title {
          max-width: 290px;
          margin-bottom: 30px;
          font-size: pixelToRem(26px);
          font-weight: $font-weight-regular;
        }
      }

      @include media-breakpoint-down(lg) {
        grid-template-columns: 295px 295px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 40px;
        grid-template-columns: 295px;
        grid-row-gap: 35px;
      }

      @include media-breakpoint-down(xs) {
        grid-row-gap: 25px;
        grid-template-columns: auto;

        .element {
          .title {
            margin-bottom: 15px;
          }
        }
      }
    }

    .nao-icon-arrow-back {
      font-size: pixelToRem(20px);
    }
  }

  .wrapper {
    max-width: 1150px;
  }

  .about-section {
    padding: 100px 40px 150px 40px;

    @include media-breakpoint-down(sm) {
      padding: 100px 20px 150px 20px;
    }
  }

  .nao-icon-arrow-back {
    transform: rotate(180deg);
    display: inline-block;
  }

}
