.top-menu-docs {
  height: 35px;
  width: 100%;
  padding: 0 30px;

  .top-menu-item {
    padding: 0 13px;
    font-weight: $font-weight-bold;
    font-size: pixelToRem(12px);
    color: var(--text-primary);

    &:hover {
      font-size: pixelToRem(12px);
    }
  }
}

.btn-crm-mobile {
  padding: 2.5px 11px;
  min-width: 30px;
}

.nao-navbar-2 {
  color: var(--text-primary);
  
  .navbar-light .navbar-nav .nav-link {
    color: var(--text-primary);
  }

  .nao-navbar-collapse {
    .nav-item {
      background-color: var(--bg-3);
      padding: 0 10px;
      font-weight: $font-weight-semibold;

      ul {
        overflow: hidden;
        list-style-type: none;
      }
    }
  }
}
