.top-menu-docs {
  height: 35px;
  width: 100%;
  padding: 0 30px;

  .top-menu-item {
    padding: 0 13px;
    font-weight: $font-weight-bold;
    font-size: pixelToRem(12px);
    color: var(--text-primary);

    &:hover {
      font-size: pixelToRem(12px);
    }
  }
}

.btn-crm-mobile {
  padding: 2.5px 11px;
  min-width: 30px;
}

// @deprecated in favor of nao-navbar
// todo: merge this with .nao-navbar
.nao-navbar-2 {

  .sm-fixed-top {
    @include media-breakpoint-down(sm) {
      background: var(--white);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1050;
      border-bottom: solid 2px var(--primary);

      &.b-0 {
        border: 0;
      }

      .dropdown-toggle::after {
        display: none;
      }

    }
  }

  .nao-navbar-collapse {
    .nav-item {
      background-color: var(--lightest);
      padding: 0 10px;
      font-weight: $font-weight-bold;

      ul {
        overflow: hidden;
        list-style-type: none;
      }
    }
  }
}
