:root {
  --primary: #3e40db;
  --light-primary: #5659ff;
  --light-blue: #e2e3fa;
  --primary-lighter: #6869d3;
  --primary-lightest: #7880ff;
  --secondary: #0062a5;
  --light-secondary: #4576ff;
  --secondary-lighter: #3297d2;
  --success: #3edb8b;
  --success-light: #d8f8e8;
  --warning: #ffa544;
  --warning-light: #ffedda;
  --danger: #db3e8e;
  --danger-light: #f8d8e8;
  --lighter: #e3e5f0;
  --lightest: #f6f8fb;
  --dark: #687196;
  --white: #ffffff;
  --text-primary: #030929;
  --text-secondary: #47484c;
  --text-primary-light: #2f3059;
  --text-primary-lighter: #4e4f84;
  --text-muted: #a3a9c0;
  --border-primary: #e9eef9;
  --border-lightest: #f7f9fc;
  --border-light: #caccd7;
  --border-fill: #dde1e3;
  --grey-blue: #687196;
  --light-bg: #f8f9fa;
}


$text-primary-light: #2f3059;
$subtitle-black: #030929;
$shadow: #d8dceb;

$info: #28c3d7;

$primary: #3e40db;
$primary-light: #5659ff;
$primary-lighter: #6869d3;
$primary-lightest: #7880FF;

$secondary: #0062A5;
$secondary-light: #4576ff;
$secondary-lighter: #3297d2;

$tertiary: #9013FE;
$tertiary-light: #9747D7;

$green: #3edb8b;
$success-light: #d8f8e8;

$yellow: #ffa544;
$warning-light: #ffedda;

$danger: #db3e8e;
$danger-light: #f8d8e8;

$dark-blue: #2f3059;

$theme-colors: (
  "primary": $primary,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "primary-lightest": $primary-lightest,
  "secondary": $secondary,
  "secondary-light": $secondary-light,
  "secondary-lighter": $secondary-lighter,
  "tertiary": $tertiary,
  "tertiary-light": $tertiary-light,
  "success": $green,
  "success-light": $success-light,
  "info": $info,
  "warning": $yellow,
  "warning-light": $warning-light,
  "danger": $danger,
  "danger-light": $danger-light,
  "dark-blue": $dark-blue
);

$font-weight-lighter: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-bolder: 900;

// Nao Variables
$nao-card-box-shadow: 0 2px 4px 3px $shadow;
$nao-input-box-shadow: 0 2px 4px 0 rgba(231, 231, 231, 0.5); // is used
$nao-card-border-radius: 0.5rem;

// <ng-select>
$ng-select-value-font-size: .95rem;
$ng-select-border: #e9eef9;
$ng-select-highlight: #e9eef9;
$ng-select-height: 42px;
$ng-select-box-shadow: $nao-input-box-shadow;
$ng-select-selected: #e3e5f0;
$ng-select-marked: #e9eaf0;
$ng-select-primary-text: #030929;
$ng-select-placeholder:var(--text-muted);

// spacers
$spacers: (
  0: 0,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 25px,
  5: 40px,
  6: 65px,
  7: 105px
)