<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Wizard</h1>

    <div class="elem-container">
      <div class="nao-bd-example px-0" [innerHTML]="data[0].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <div class="nao-bd-example px-0" [innerHTML]="data[1].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <div class="nao-bd-example px-0" [innerHTML]="data[2].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <div class="nao-bd-example px-0" [innerHTML]="data[3].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <div class="nao-bd-example px-0" [innerHTML]="data[4].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[4].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>


  </div>
</div>
