<div class="nao-docs-wrapper pb-7">
  <div class="elements-container">
    <h1 class="title">Nao System Icons</h1>

    <div class="elem-container">
      <h2 class="title">Install our custom icons font.</h2>
      <p>Place the <code>nao-system-icon.css</code> and the five font files in your font directory and include the
        css in your html.</p>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Usage</h2>
      <p>There are two ways to include the icons in the html, using <code>class</code> or <code>data-icon</code>
        attribute:</p>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Icon construction</h2>
      <p class="mb-4">All icons should be drawn on a 24x24px (3px stroke width for outlines), 16x16px (2px stroke width
        for outlines)
        or a 48x48px grid frame (6px stroke width for outlines). Each frame includes keylines and a one pixel padding on
        all sides as guidance.</p>
      <div class="d-flex flex-wrap">
        <div class="d-flex flex-column mr-3">
          <span class="icon-construction-sm">16x16</span>
          <span class="nao-icon-elearning mt-1" style="font-size: 14px;line-height: 12px;"></span>
        </div>
        <div class="d-flex flex-column mr-3">
          <span class="icon-construction-sm">24x24</span>
          <span class="nao-icon-elearning mt-1" style="font-size: 21px;line-height: 19px;"></span>
        </div>
        <div class="d-flex flex-column">
          <span class="icon-construction-sm">48x48</span>
          <span class="nao-icon-elearning mt-1" style="font-size: 42px;line-height: 40px;"></span>
        </div>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Containers</h2>
      <p class="mb-4">In cases where the icon is contained inside a circle, the diameter of the circle can be determined
        by doubling the width of the icon. Icons should be
        optically centered within the container.</p>
      <div class="d-flex flex-wrap">
        <div class="d-flex flex-column align-items-center mr-4">
          <span class="icon-construction-sm mb-1">Circular container</span>
          <div class="icon-container-round d-flex align-items-center justify-content-center">
            <span class="nao-icon-elearning"></span>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center mr-4">
          <span class="icon-construction-sm mb-1">Squared container</span>
          <div class="icon-container-squared d-flex align-items-center justify-content-center">
            <span class="nao-icon-elearning"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Size</h2>
      <p>The size of the icons is controlled by the <code>font-size</code> and for controlling the height you should use
        a <code>line-height</code> smaller then the font-size.</p>
      <div class="nao-bd-example d-flex flex-column" [innerHTML]="data[2].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">System Icons</h2>
      <p>Our icon system is inspired by big organization iconography. It aims to be bold, communicative, and hard
        working. Filled versions work well at small sizes in product
        while the outlined version works better in signage and marketing.</p>
      <div class="nao-bd-example nao-icons-showcase d-flex flex-wrap" [innerHTML]="data[3].html | sanitizeHtml"></div>
    </div>

  </div>
</div>
