<div class="nao-landing-page">
  <div class="hero">
    <div class="content mx-auto">
      <div class="description">
        The unknown is exciting, just not in a design system
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="wrapper d-flex flex-row mx-auto">
      <div class="content">
        <div class="title mb-3 mb-sm-4">
          Growth is one thing, responsible growth is something completely different
        </div>
        <div class="description">
          With our company’s growth and direction, we need a brand identity that is efficient to use, flexible across
          applications, and able to feature localized content in a globally consistent way. These guidelines cover all
          our major elements: color, composition, iconography, illustration, photography and typography.
          <br>
          <button type="button" class="btn btn-lg btn-outline-dark-blue mt-3"
            [routerLink]="['/','utilities', 'colors']">
            View Naologic’s design system <i class="nao-icon-arrow-back ml-1"></i>
          </button>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <img src="assets-local/images/landing-page/image-section.png">
      </div>
    </div>

  </div>

  <div class="elements-section">
    <div class="wrapper mx-auto">
      <div class="title mb-3 mb-sm-4">
        The system
      </div>
      <div class="description">
        Our system is comprised of 6 core elements
      </div>

      <div class="elements-grid">

        <a href="javascript:void(0)" [routerLink]="['/', 'utilities', 'typography']" class="element d-flex flex-column">
          <div class="title">
            Typography <i class="nao-icon-arrow-back ml-1"></i>
          </div>
          <img src="assets-local/images/landing-page/typography.png">
        </a>

        <a href="javascript:void(0)" [routerLink]="['/', 'utilities', 'colors']" class="element d-flex flex-column">
          <div class="title">
            Colors <i class="nao-icon-arrow-back ml-1"></i>
          </div>
          <img src="assets-local/images/landing-page/colors.png">
        </a>

        <a href="javascript:void(0)" [routerLink]="['/', 'utilities', 'iconography']" class="element d-flex flex-column">
          <div class="title">
            Iconography <i class="nao-icon-arrow-back ml-1"></i>
          </div>
          <img src="assets-local/images/landing-page/iconography.png">
        </a>

        <a href="javascript:void(0)" [routerLink]="['/', 'utilities', 'illustration']"
          class="element d-flex flex-column">
          <div class="title">
            Illustration <i class="nao-icon-arrow-back ml-1"></i>
          </div>
          <img src="assets-local/images/landing-page/illustration.png">
        </a>

        <a href="javascript:void(0)" [routerLink]="['/', 'photography', 'compositions']"
          class="element d-flex flex-column">
          <div class="title">
            Composition <i class="nao-icon-arrow-back ml-1"></i>
          </div>
          <img src="assets-local/images/landing-page/composition.png">
        </a>

        <a href="javascript:void(0)" [routerLink]="['/', 'components', 'tables']" class="element d-flex flex-column">
          <div class="title">
            Tables <i class="nao-icon-arrow-back ml-1"></i>
          </div>
          <img src="assets-local/images/landing-page/tables.png">
        </a>

      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="wrapper mx-auto">
      <div class="title mb-3 mb-sm-4">
        About our system
      </div>
      <div class="description">
        All of Naologic’s brand features are proprietary. If you opt to use any trademarks, logos, designs, and/or
        other
        brand features, you acknowledge your acceptance of the terms in the brand guidelines.
      </div>
    </div>
  </div>
</div>
