<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Typography</h1>
    <p class="description">
      Documentation and examples for typography.
    </p>

    <div class="elem-container">
      <h2 class="title">Font Weight</h2>
      <div class="table-container">
        <table class="table text-left">
          <thead>
            <tr>
              <th>Weight</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>font-weight: 300</code></td>
              <td style="font-weight: 300">Sample</td>
            </tr>
            <tr>
              <td><code>font-weight: 400</code></td>
              <td style="font-weight: 400">Sample</td>
            </tr>
            <tr>
              <td><code>font-weight: 600</code></td>
              <td style="font-weight: 600">Sample</td>
            </tr>
            <tr>
              <td><code>font-weight: 700</code></td>
              <td style="font-weight: 700">Sample</td>
            </tr>
            <tr>
              <td><code>font-weight: 800</code></td>
              <td style="font-weight: 800">Sample</td>
            </tr>
            <tr>
              <td><code>font-weight: 900</code></td>
              <td style="font-weight: 900">Sample</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Headings</h2>
      <div class="table-container">
        <table class="table text-left">
          <thead>
            <tr>
              <th>Class</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>h1</code></td>
              <td><h1>h1. Heading</h1></td>
            </tr>
            <tr>
              <td><code>h2</code></td>
              <td><h2>h2. Heading</h2></td>
            </tr>
            <tr>
              <td><code>h3</code></td>
              <td><h3>h3. Heading</h3></td>
            </tr>
            <tr>
              <td><code>h4</code></td>
              <td><h4>h4. Heading</h4></td>
            </tr>
            <tr>
              <td><code>h5</code></td>
              <td><h5>h5. Heading</h5></td>
            </tr>
            <tr>
              <td><code>h6</code></td>
              <td><h6>h6. Heading</h6></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Font sizes</h2>
      <div class="table-container">
        <table class="table text-left">
          <thead>
            <tr>
              <th>Class</th>
              <th>Pixel size</th>
              <th>Rem</th>
              <th>Points</th>
              <th>Comments</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code></code></td>
              <td>44.8px</td>
              <td>2.8rem</td>
              <td>33.5pt</td>
              <td>Our custom hero size for extra large headers</td>
              <td style="font-size:2.8rem">Naologic</td>
            </tr>
            <tr>
              <td><code>h1</code></td>
              <td>40px</td>
              <td>2.5rem</td>
              <td>30pt</td>
              <td></td>
              <td><h1>Naologic</h1></td>
            </tr>
            <tr>
              <td><code>h2</code></td>
              <td>32px</td>
              <td>2rem</td>
              <td>24pt</td>
              <td></td>
              <td><h2>Naologic</h2></td>
            </tr>
            <tr>
              <td><code>h3</code></td>
              <td>30px</td>
              <td>1.875rem</td>
              <td>24pt</td>
              <td></td>
              <td><h3>Naologic</h3></td>
            </tr>
            <tr>
              <td><code>h4</code></td>
              <td>24px</td>
              <td>1.5rem</td>
              <td>18pt</td>
              <td></td>
              <td><h4>Naologic</h4></td>
            </tr>
            <tr>
              <td><code>h5</code></td>
              <td>20px</td>
              <td>1.25rem</td>
              <td>15pt</td>
              <td></td>
              <td><h5>Naologic</h5></td>
            </tr>
            <tr>
              <td><code>h6</code></td>
              <td>16px</td>
              <td>1rem</td>
              <td>12pt</td>
              <td></td>
              <td><h6>Naologic</h6></td>
            </tr>
            <tr>
              <td><code></code></td>
              <td>15px</td>
              <td>0.9375rem</td>
              <td>11.25pt</td>
              <td></td>
              <td style="font-size:0.875rem">Naologic</td>
            </tr>
            <tr>
              <td><code></code></td>
              <td>14px</td>
              <td>0.875rem</td>
              <td>10.5pt</td>
              <td></td>
              <td style="font-size:0.875rem">Naologic</td>
            </tr>
            <tr>
              <td><code></code></td>
              <td>13px</td>
              <td>0.8125rem</td>
              <td>9.75pt</td>
              <td></td>
              <td style="font-size:0.8125rem">Naologic</td>
            </tr>
            <tr>
              <td><code></code></td>
              <td>12px</td>
              <td>0.75rem</td>
              <td>9pt</td>
              <td></td>
              <td style="font-size:0.75rem">Naologic</td>
            </tr>
            <tr>
              <td><code></code></td>
              <td>10px</td>
              <td>0.625rem</td>
              <td>7.5pt</td>
              <td></td>
              <td style="font-size:0.625rem">Naologic</td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>

  </div>
</div>
