<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Table</h1>
    <p class="description"></p>

    <div class="elem-container">
      <h2 class="title">Simple table</h2>
      <div class="nao-bd-example" [innerHTML]="data[0].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Simple table with sticky header and scrollbar</h2>
      <ul>
        <li>
          You could modify table cells to have a min-width:
          <span class="token tag"><span class="token tag"><span
                class="token punctuation">&lt;</span>th</span>&nbsp;<span class="token attr-name">scope</span><span
              class="token attr-value"><span class="token punctuation">=</span><span
                class="token punctuation">"</span>col<span class="token punctuation">"</span></span><span
              class="token style-attr language-css"><span class="token attr-name"> <span
                  class="token attr-name">style</span></span><span class="token punctuation">="</span><span
                class="token attr-value"><span class="token property">min-width</span><span
                  class="token punctuation">:</span> 200px</span><span class="token punctuation">"</span></span><span
              class="token punctuation">&gt;</span></span>Name<span class="token tag"><span class="token tag"><span
                class="token punctuation">&lt;/</span>th</span><span class="token punctuation">&gt;</span></span>
        </li>
        <li>
          If you need a sticky header just add <span class="highlighter-warning">.nao-sticky-thead</span> class to the
          <span class="token tag"><span class="token tag"><span
                class="token punctuation">&lt;</span>thead</span>&nbsp;<span class="token attr-name">class</span><span
              class="token attr-value"><span class="token punctuation">=</span><span
                class="token punctuation">"</span>table-header
              nao-sticky-thead<span class="token punctuation">"</span></span><span
              class="token punctuation">&gt;</span></span>
        </li>
        <li>
          And if you need to have a fixed container with scrollbar just add
          <span class="highlighter-warning">height: 300px;</span> and <span class="highlighter-warning">overflow:
            auto;</span> to a custom class.
        </li>
      </ul>

      <div class="nao-bd-example" [innerHTML]="data[1].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>


    <div class="elem-container">
      <h2 class="title">Nao table 1 - loading</h2>
      <div class="nao-bd-example">

        <div class="card nao-card-table-1 mb-5" [ngClass]="{'nao-condensed-table': paging.tableCondensed$.value}">
          <div class="d-flex flex-row card-header selected align-items-center" *ngIf="noSelectedRows() > 0">
            <div class="pr-3">
              <a href="javascript:void(0)" class="btn btn-transparent btn-no-min-width btn-no-box-shadow" (click)="deselectAll()">X</a>
            </div>
            <div class="pl-3 mr-3">
              <div class="card-header-title mb-0">
                {{ noSelectedRows() }} {{ (noSelectedRows() === 1 ? 'selected contact' : 'selected contacts') }}
              </div>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Delete multiple
              </button>
            </div>
          </div>
          <div class="d-flex flex-row card-header align-items-center" *ngIf="noSelectedRows() === 0">
            <div class="mr-3">
              <div class="card-header-title">
                Contacts&nbsp;&nbsp;|
              </div>
            </div>
            <div class="pr-3">
              <span class="nao-table-info">
                3 contacts
              </span>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 1
              </button>
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 2
              </button>
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 3
              </button>
            </div>
            <div class="nao-condensed-btn-group">
              <div class="nao-condensed-btn-group">
                <button type="button" class="btn btn-flip btn-condensed"
                  [ngClass]="paging.tableCondensed$.value ? 'flipped' : ''"
                  (click)="paging.tableCondensed$.next(true)">Condensed</button>
                <button type="button" class="btn btn-flip btn-relaxed"
                  [ngClass]="!paging.tableCondensed$.value ? 'flipped' : ''"
                  (click)="paging.tableCondensed$.next(false)">Relaxed</button>
              </div>
            </div>
          </div>
          <div class="card-search d-flex align-items-center justify-content-between">
            <div class="col-7 align-middle">
              <ng-select bindValue="query" [multiple]="true" placeholder="Add filter" [clearable]="false"
                clearAllText="Clear">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">
                    {{ item.fieldName }}: <strong>'{{ item.term }}'</strong>
                  </span>
                  <span class="ng-value-icon right" aria-hidden="true">×</span>
                </ng-template>
                <ng-option *ngFor="let item of searchFor" [value]="item">{{ item.value }}
                </ng-option>
              </ng-select>
            </div>
            <div class="">
              <button type="button" class="btn btn-transparent text-dark-blue btn-no-box-shadow" (click)="searchFormGroup.empty()">
                Clear filter
              </button>
            </div>
          </div>

          <div class="card-body p-0 table-responsive">
            <table class="table mb-0 table-borderless">
              <thead class="table-header">
                <tr>
                  <th scope="col" class="nao-th-checkbox">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectAllChange()"
                        [(ngModel)]="paging.selectAll">
                      <span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th scope="col" class="nao-th" style="width: 20%">Name</th>
                  <th scope="col" class="nao-th" style="width: 20%">Email</th>
                  <th scope="col" class="nao-th" style="width: 20%">Company</th>
                  <th scope="col" class="nao-th"></th>
                </tr>
              </thead>
              <tbody class="table-body">
                <td colspan="100">
                  <loader-table checkbox="true" icon="true" numberOfRows="10"
                    [condensed]="paging.tableCondensed$.value"></loader-table>
                </td>
              </tbody>
            </table>
          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-between">
            <div>
              <span class='rows-label'>Rows per page: </span>
              <select (change)="paging.perPage$.next($event.target.value)" [value]="paging.perPage$.getValue()"
                class="custom-select custom-select-sm d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 50, 100]" [value]="limit">{{ limit }}</option>
              </select>
            </div>
            <div>
              <ngb-pagination class="pull-right" [collectionSize]="paging.totalRows"
                [pageSize]="paging.perPage$.getValue()" [(page)]="paging.currentPage" [maxSize]="paging.maxSize"
                [directionLinks]="true" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>Previous</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>

      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>

    </div>

    <div class="elem-container">
      <h2 class="title">Nao table 1</h2>
      <p>
        Add <code>.td-success</code> or <code>.td-danger</code> to a table cell to change the bottom border
      </p>
      <div class="nao-bd-example">
        <ng-template #rowOverlay let-item let-i="i">
          <div class="d-flex justify-content-end align-items-center nao-row-overlay">
            <div>
              <button class="btn btn-sm btn-simple-primary">
                Edit
              </button>
              <button class="btn btn-sm btn-simple-primary">
                Delete
              </button>
              <div ngbDropdown class="d-inline-block btn-group dropdown-remove-arrow" container="body">
                <button class="btn btn-no-box-shadow btn-sm" ngbDropdownToggle>
                  <i class="nao-icon-additional-options"></i>
                </button>
                <div ngbDropdownMenu class="nao-dropdown-1">
                  <a class="dropdown-item" href="javascript:void(0)" >Edit name</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)">Change access level</a>
                  <a class="dropdown-item" href="javascript:void(0)">Change password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)">Deactivate
                    Account</a>
                  <a class="dropdown-item dropdown-item-danger" href="javascript:void(0)">Delete
                    Account</a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="card nao-card-table-1 mb-5" [ngClass]="{'nao-condensed-table': paging.tableCondensed$.value}">
          <div class="d-flex flex-row card-header selected align-items-center" *ngIf="noSelectedRows() > 0">
            <div class="pr-3">
              <a href="javascript:void(0)" class="btn btn-transparent btn-no-min-width btn-no-box-shadow" (click)="deselectAll()">X</a>
            </div>
            <div class="pl-3 mr-3">
              <div class="card-header-title mb-0">
                {{ noSelectedRows() }} {{ (noSelectedRows() === 1 ? 'selected contact' : 'selected contacts') }}
              </div>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Delete multiple
              </button>
            </div>
          </div>
          <div class="d-flex flex-row card-header align-items-center" *ngIf="noSelectedRows() === 0">
            <div class="mr-3">
              <div class="card-header-title">
                Contacts&nbsp;&nbsp;|
              </div>
            </div>
            <div class="pr-3">
              <span class="nao-table-info">
                3 contacts
              </span>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 1
              </button>
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 2
              </button>
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 3
              </button>
            </div>
            <div class="nao-condensed-btn-group">
              <div class="nao-condensed-btn-group">
                <button type="button" class="btn btn-flip btn-condensed"
                  [ngClass]="paging.tableCondensed$.value ? 'flipped' : ''"
                  (click)="paging.tableCondensed$.next(true)">Condensed</button>
                <button type="button" class="btn btn-flip btn-relaxed"
                  [ngClass]="!paging.tableCondensed$.value ? 'flipped' : ''"
                  (click)="paging.tableCondensed$.next(false)">Relaxed</button>
              </div>
            </div>
          </div>
          <div class="card-search d-flex align-items-center justify-content-between">
            <div class="col-7 align-middle">
              <ng-select bindValue="query" [multiple]="true" placeholder="Add filter" [clearable]="false"
                clearAllText="Clear">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">
                    {{ item.fieldName }}: <strong>'{{ item.term }}'</strong>
                  </span>
                  <span class="ng-value-icon right" aria-hidden="true">×</span>
                </ng-template>
                <ng-option *ngFor="let item of searchFor" [value]="item">{{ item.value }}
                </ng-option>
              </ng-select>
            </div>
            <div class="">
              <button type="button" class="btn btn-transparent text-dark-blue btn-no-box-shadow" (click)="searchFormGroup.empty()">
                Clear filter
              </button>
            </div>
          </div>

          <div class="card-body p-0 table-responsive">
            <table class="table mb-0 table-borderless">
              <thead class="table-header">
                <tr>
                  <th scope="col" class="nao-th-checkbox">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectAllChange()"
                        [(ngModel)]="paging.selectAll">
                      <span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th scope="col" class="nao-th" style="width: 20%">Name</th>
                  <th scope="col" class="nao-th" style="width: 20%">Email</th>
                  <th scope="col" class="nao-th" style="width: 20%">Company</th>
                  <th scope="col" class="nao-th"></th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr *ngFor="let item of dataTable; let i = index; let last = last"
                  [ngClass]="{'selected': item.selected}">
                  <td class="align-middle">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectChange($event, i)"
                        [(ngModel)]="item.selected">
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td class="align-middle"
                    [ngClass]="{'td-success': item.name.status === 'success', 'td-danger': item.name.status === 'fail'}">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.name.value }}</div>
                    </div>
                  </td>
                  <td class="align-middle"
                    [ngClass]="{'td-success': item.email.status === 'success', 'td-danger': item.email.status === 'fail'}">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.email.value }}</div>
                    </div>
                  </td>
                  <td class="align-middle"
                    [ngClass]="{'td-success': item.company.status === 'success', 'td-danger': item.company.status === 'fail'}">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.company.value }}</div>
                    </div>
                  </td>
                  <td class="py-0" style="position: relative;">
                    <div class="nao-row-overlay-container show-on-hover mr-4" *ngIf="noSelectedRows() === 0">
                      <ng-template *ngTemplateOutlet="rowOverlay; context: { $implicit: item, i: i }"></ng-template>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-between">
            <div>
              <span class='rows-label'>Rows per page: </span>
              <select (change)="paging.perPage$.next($event.target.value)" [value]="paging.perPage$.getValue()"
                class="custom-select custom-select-sm d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 50, 100]" [value]="limit">{{ limit }}</option>
              </select>
            </div>
            <div>
              <ngb-pagination class="pull-right" [collectionSize]="paging.totalRows"
                [pageSize]="paging.perPage$.getValue()" [(page)]="paging.currentPage" [maxSize]="paging.maxSize"
                [directionLinks]="true" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>Previous</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].ts1)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[3].ts1 | typescriptPrismPipe | sanitizeHtml"></div></pre>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].ts2)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[3].ts2 | typescriptPrismPipe | sanitizeHtml"></div></pre>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
        </div>
      </div>

    </div>

    <div class="elem-container">
      <h2 class="title">Nao table 1 - Without filter</h2>
      <div class="nao-bd-example">

        <div class="card nao-card-table-1 mb-5" [ngClass]="{'nao-condensed-table': paging.tableCondensed$.value}">
          <div class="d-flex flex-row card-header selected align-items-center" *ngIf="noSelectedRows() > 0">
            <div class="pr-3">
              <a href="javascript:void(0)" class="btn btn-transparent btn-no-min-width btn-no-box-shadow" (click)="deselectAll()">X</a>
            </div>
            <div class="pl-3 mr-3">
              <div class="card-header-title mb-0">
                {{ noSelectedRows() }} {{ (noSelectedRows() === 1 ? 'selected contact' : 'selected contacts') }}
              </div>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Delete multiple
              </button>
            </div>
          </div>
          <div class="d-flex flex-row card-header align-items-center" *ngIf="noSelectedRows() === 0">
            <div class="mr-3">
              <div class="card-header-title">
                Contacts&nbsp;&nbsp;|
              </div>
            </div>
            <div class="pr-3">
              <span class="nao-table-info">
                3 contacts
              </span>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 1
              </button>
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 2
              </button>
              <button class="btn btn-simple-primary nao-btn-transition">
                Option 3
              </button>
            </div>
            <div class="nao-condensed-btn-group">
              <div class="nao-condensed-btn-group">
                <button type="button" class="btn btn-flip btn-condensed"
                  [ngClass]="paging.tableCondensed$.value ? 'flipped' : ''"
                  (click)="paging.tableCondensed$.next(true)">Condensed</button>
                <button type="button" class="btn btn-flip btn-relaxed"
                  [ngClass]="!paging.tableCondensed$.value ? 'flipped' : ''"
                  (click)="paging.tableCondensed$.next(false)">Relaxed</button>
              </div>
            </div>
          </div>

          <div class="card-body p-0 table-responsive">
            <table class="table mb-0 table-borderless">
              <thead class="table-header">
                <tr>
                  <th scope="col" class="nao-th-checkbox">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectAllChange()"
                        [(ngModel)]="paging.selectAll">
                      <span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th scope="col" class="nao-th" style="width: 20%">Name</th>
                  <th scope="col" class="nao-th" style="width: 20%">Email</th>
                  <th scope="col" class="nao-th" style="width: 20%">Company</th>
                  <th scope="col" class="nao-th"></th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr *ngFor="let item of dataTable; let i = index; let last = last"
                  [ngClass]="{'selected': item.selected}">
                  <td class="align-middle">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectChange($event, i)"
                        [(ngModel)]="item.selected">
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td class="align-middle"
                    [ngClass]="{'td-success': item.name.status === 'success', 'td-danger': item.name.status === 'fail'}">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.name.value }}</div>
                    </div>
                  </td>
                  <td class="align-middle"
                    [ngClass]="{'td-success': item.email.status === 'success', 'td-danger': item.email.status === 'fail'}">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.email.value }}</div>
                    </div>
                  </td>
                  <td class="align-middle"
                    [ngClass]="{'td-success': item.company.status === 'success', 'td-danger': item.company.status === 'fail'}">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.company.value }}</div>
                    </div>
                  </td>
                  <td class="py-0" style="position: relative;">
                    <div class="nao-row-overlay-container show-on-hover mr-4" *ngIf="noSelectedRows() === 0">
                      <ng-template *ngTemplateOutlet="rowOverlay; context: { $implicit: item, i: i }"></ng-template>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-between">
            <div>
              <span class='rows-label'>Rows per page: </span>
              <select (change)="paging.perPage$.next($event.target.value)" [value]="paging.perPage$.getValue()"
                class="custom-select custom-select-sm d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 50, 100]" [value]="limit">{{ limit }}</option>
              </select>
            </div>
            <div>
              <ngb-pagination class="pull-right" [collectionSize]="paging.totalRows"
                [pageSize]="paging.perPage$.getValue()" [(page)]="paging.currentPage" [maxSize]="paging.maxSize"
                [directionLinks]="true" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>Previous</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].ts1)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[4].ts1 | typescriptPrismPipe | sanitizeHtml"></div></pre>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].ts2)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[4].ts2 | typescriptPrismPipe | sanitizeHtml"></div></pre>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].html)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[4].html | htmlPrismPipe | sanitizeHtml"></div></pre>
        </div>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao table 1 - neste rows</h2>
      <div class="nao-bd-example">
        <ng-template #rowOverlay let-item let-i="i">
          <div class="d-flex justify-content-end align-items-center nao-row-overlay">
            <div>
              <button class="btn btn-sm btn-simple-primary">
                Edit
              </button>
              <button class="btn btn-sm btn-simple-primary">
                Delete
              </button>
              <div ngbDropdown class="d-inline-block btn-group dropdown-remove-arrow" container="body">
                <button class="btn btn-no-box-shadow btn-sm" ngbDropdownToggle>
                  <i class="nao-icon-additional-options"></i>
                </button>
                <div ngbDropdownMenu class="nao-dropdown-1">
                  <a class="dropdown-item" href="javascript:void(0)" >Edit name</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)">Change access level</a>
                  <a class="dropdown-item" href="javascript:void(0)">Change password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)">Deactivate
                    Account</a>
                  <a class="dropdown-item dropdown-item-danger" href="javascript:void(0)">Delete
                    Account</a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="card nao-card-table-1 mb-5">
          <div class="d-flex flex-row card-header selected align-items-center" *ngIf="noSelectedRows() > 0">
            <div class="pr-3">
              <a href="javascript:void(0)" class="btn btn-transparent btn-no-min-width btn-no-box-shadow" (click)="deselectAll()">X</a>
            </div>
            <div class="pl-3 mr-3">
              <div class="card-header-title mb-0">
                {{ noSelectedRows() }} {{ (noSelectedRows() === 1 ? 'selected contact' : 'selected contacts') }}
              </div>
            </div>
            <div class="">
              <button class="btn btn-simple-primary nao-btn-transition">
                Delete multiple
              </button>
            </div>
          </div>
          <div class="d-flex flex-row card-header align-items-center" *ngIf="noSelectedRows() === 0">
            <div class="mr-3">
              <div class="card-header-title">
                Nestead&nbsp;&nbsp;|
              </div>
            </div>
            <div class="pr-3">
              <span class="nao-table-info">
                3 contacts
              </span>
            </div>
          </div>

          <div class="card-search d-flex align-items-center justify-content-between">
            <div class="col-7 align-middle">
              <ng-select bindValue="query" [multiple]="true" placeholder="Add filter" [clearable]="false"
                         clearAllText="Clear">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">
                    {{ item.fieldName }}: <strong>'{{ item.term }}'</strong>
                  </span>
                  <span class="ng-value-icon right" aria-hidden="true">×</span>
                </ng-template>
                <ng-option *ngFor="let item of searchFor" [value]="item">{{ item.value }}
                </ng-option>
              </ng-select>
            </div>
            <div class="">
              <button type="button" class="btn btn-transparent text-dark-blue btn-no-box-shadow" (click)="searchFormGroup.empty()">
                Clear filter
              </button>
            </div>
          </div>

          <div class="card-body p-0 table-responsive">
            <table class="table mb-0 table-borderless">
              <thead class="table-header">
                <tr>
                  <th scope="col" class="nao-th-checkbox">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectAllChange()"
                        [(ngModel)]="paging.selectAll">
                      <span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th scope="col" class="nao-th" style="width: 20%">Deployment</th>
                  <th scope="col" class="nao-th" style="width: 20%">Status</th>
                  <th scope="col" class="nao-th" style="width: 20%">Number of users</th>
                  <th scope="col" class="nao-th" style="width: 20%">Date Created</th>
                  <th scope="col" class="nao-th"></th>
                </tr>
              </thead>
              <tbody class="table-body">
                <ng-template #tableRow let-item let-i="i" let-level="level">

                  <tr [ngClass]="{'selected': item.selected}">
                    <td class="align-middle">
                      <label class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" (ngModelChange)="selectChange($event, i)"
                          [(ngModel)]="item.selected">
                        <span class="custom-control-label"></span>
                      </label>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <div class="cell-multiline-header" [ngStyle]="{'padding-left': 30*level+'px'}">
                          <button class="btn btn-sm btn-no-box-shadow pl-0 btn-no-min-width"
                            *ngIf="item.childRows?.length>0"
                            (click)="item.expandChildren ? item.expandChildren = !item.expandChildren : item.expandChildren = true">
                            <i class="nao-icon-arrow-next-1 nao-icon-rotate" [ngClass]="{'rotate-90': item.expandChildren}"></i></button>
                          {{ item.deployment.value }}
                        </div>
                      </div>
                    </td>
                    <td class=" align-middle">
                      <div class="d-flex align-items-center">
                        <div class="cell-multiline-header d-flex flex-wrap">
                          <span class="nao-pill-lg text-white mr-1 mb-1" *ngFor="let status of item.status.value"
                            [ngClass]="{'bg-success': status === 'Production', 'bg-tertiary': status === 'Staging', 'bg-primary': status === 'Demo'}">{{ status }}</span>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <div class="cell-multiline-header">{{ item.numberOfUsers.value }}</div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <div class="cell-multiline-header">{{ item.dateCreated.value }}</div>
                      </div>
                    </td>
                    <td class="py-0" style="position: relative;">
                      <div class="nao-row-overlay-container show-on-hover mr-4" *ngIf="noSelectedRows() === 0">
                        <ng-template *ngTemplateOutlet="rowOverlay; context: { $implicit: item, i: i }"></ng-template>
                      </div>
                    </td>
                  </tr>

                  <ng-container
                    *ngIf="item.expandChildren && item.childRows && item.childRows.length > 0">
                    <ng-container *ngFor="let childItem of item.childRows; let index_child = index">
                      <ng-template
                        *ngTemplateOutlet="tableRow; context: { $implicit: childItem, i: index_child, level: 1+level}">
                      </ng-template>
                    </ng-container>
                  </ng-container>

                </ng-template>


                <ng-container *ngFor="let item of dataTableNested; let i = index; let last = last">
                  <ng-template *ngTemplateOutlet="tableRow; context: { $implicit: item, i: i, level: 0}"></ng-template>
                </ng-container>

              </tbody>
            </table>
          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-between">
            <div>
              <span class='rows-label'>Rows per page:</span>
              <select (change)="paging.perPage$.next($event.target.value)" [value]="paging.perPage$.getValue()"
                class="custom-select custom-select-sm d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 50, 100]" [value]="limit">{{ limit }}</option>
              </select>
            </div>
            <div>
              <ngb-pagination class="pull-right" [collectionSize]="paging.totalRows"
                [pageSize]="paging.perPage$.getValue()" [(page)]="paging.currentPage" [maxSize]="paging.maxSize"
                [directionLinks]="true" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>Previous</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[5].ts1)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[5].ts1 | typescriptPrismPipe | sanitizeHtml"></div></pre>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[5].html)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[5].html | htmlPrismPipe | sanitizeHtml"></div></pre>
        </div>
      </div>
    </div>

  </div>
</div>
