<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Table</h1>
    <p class="description"></p>

    <div class="elem-container">
      <h2 class="title">Simple table</h2>
      <div class="nao-bd-example" [innerHTML]="data[0].html | sanitizeHtml"></div>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Simple table with sticky header and scrollbar</h2>
      <ul>
        <li>
          You could modify table cells to have a min-width:
          <span class="token tag"><span class="token tag"><span
                class="token punctuation">&lt;</span>th</span>&nbsp;<span class="token attr-name">scope</span><span
              class="token attr-value"><span class="token punctuation">=</span><span
                class="token punctuation">"</span>col<span class="token punctuation">"</span></span><span
              class="token style-attr language-css"><span class="token attr-name"> <span
                  class="token attr-name">style</span></span><span class="token punctuation">="</span><span
                class="token attr-value"><span class="token property">min-width</span><span
                  class="token punctuation">:</span> 200px</span><span class="token punctuation">"</span></span><span
              class="token punctuation">&gt;</span></span>Name<span class="token tag"><span class="token tag"><span
                class="token punctuation">&lt;/</span>th</span><span class="token punctuation">&gt;</span></span>
        </li>
        <li>
          If you need a sticky header just add <span class="highlighter-warning">.nao-sticky-thead</span> class to the
          <span class="token tag"><span class="token tag"><span
                class="token punctuation">&lt;</span>thead</span>&nbsp;<span class="token attr-name">class</span><span
              class="token attr-value"><span class="token punctuation">=</span><span
                class="token punctuation">"</span>table-header
              nao-sticky-thead<span class="token punctuation">"</span></span><span
              class="token punctuation">&gt;</span></span>
        </li>
        <li>
          And if you need to have a fixed container with scrollbar just add
          <span class="highlighter-warning">height: 300px;</span> and <span class="highlighter-warning">overflow:
            auto;</span> to a custom class.
        </li>
      </ul>

      <div class="nao-bd-example" [innerHTML]="data[1].html | sanitizeHtml"></div>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao table 1</h2>
      <div class="nao-bd-example">
        <ng-template #rowOverlay let-item let-i="i">
          <div class="d-flex justify-content-end align-items-center nao-row-overlay h-100">
            <div>
              <button class="btn btn-text-only">
                Edit
              </button>
              <button class="btn btn-text-only">
                Delete
              </button>
            </div>
          </div>
        </ng-template>

        <div class="card nao-card-table-1 mb-5">
          <div class="d-flex flex-row card-header selected align-items-center" *ngIf="noSelectedRows() > 0">
            <div class="pt-2 pr-3">
              <a href="javascript:void(0)" class="btn btn-transparent" (click)="deselectAll()">X</a>
            </div>
            <div class="pl-3 mr-3">
              <div class="card-header-title text-lowercase">
                {{ noSelectedRows() }} {{ (noSelectedRows() === 1 ? 'selected contact' : 'selected contacts') }}
              </div>
            </div>
            <div class="pt-2">
              <button class="btn btn-text-only">
                Delete multiple
              </button> 
            </div>
          </div>
          <div class="d-flex flex-row card-header align-items-center" *ngIf="noSelectedRows() === 0">
            <div class="mr-3">
              <div class="card-header-title">
                Contacts&nbsp;&nbsp;|
              </div>
            </div>
            <div class="pt-2 pr-3">
              <span class="smallx">
                3 contacts
              </span>
            </div>
            <div class="pt-2">
              <button class="btn btn-text-only">
                Add new contact
              </button>
              <button class="btn btn-text-only">
                Import contacts
              </button>
            </div>
          </div>
          <div class="card-search d-flex align-items-center justify-content-between">
            <div class="col-7 align-middle">
              <ng-select bindValue="query" [multiple]="true" placeholder="Add filter" [clearable]="false"
                clearAllText="Clear">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">
                    {{ item.fieldName }}: <strong>'{{ item.term }}'</strong>
                  </span>
                  <span class="ng-value-icon right" aria-hidden="true">×</span>
                </ng-template>
                <ng-option *ngFor="let item of searchFor" [value]="item">{{ item.value }}
                </ng-option>
              </ng-select>
            </div>
            <div class="">
              <button type="button" class="btn btn-transparent text-dark-blue" (click)="searchFormGroup.empty()">
                Clear filter
              </button>
            </div>
          </div>

          <div class="card-body p-0 table-responsive">
            <table class="table mb-0 table-borderless">
              <thead class="table-header">
                <tr>
                  <th scope="col" style="width: 60px;">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectAllChange()"
                        [(ngModel)]="paging.selectAll">
                      <span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th scope="col" class="pl-3" style="width: 20%">Name</th>
                  <th scope="col" class="pl-3" style="width: 20%">Email</th>
                  <th scope="col" class="pl-3" style="width: 20%">Company</th>
                  <th scope="col" class="pl-3"></th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr *ngFor="let item of dataTable; let i = index; let last = last"
                  [ngClass]="{'selected': item.selected}">
                  <td class="align-middle p-3">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (ngModelChange)="selectChange($event, i)"
                        [(ngModel)]="item.selected">
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td class="align-middle p-3">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.name }}</div>
                    </div>
                  </td>
                  <td class="align-middle p-3">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.email }}</div>
                    </div>
                  </td>
                  <td class="align-middle p-3">
                    <div class="d-flex align-items-center">
                      <div class="cell-multiline-header">{{ item.company }}</div>
                    </div>
                  </td>
                  <td class="py-0" style="position: relative;">
                    <div class="nao-row-overlay-container show-on-hover mr-4" *ngIf="noSelectedRows() === 0">
                      <ng-template *ngTemplateOutlet="rowOverlay; context: { $implicit: item, i: i }"></ng-template>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-between pt-4 pb-4">
            <div>
              Per page
              <select (change)="paging.perPage$.next($event.target.value)" [value]="paging.perPage$.getValue()"
                class="custom-select custom-select-sm d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 50, 100]" [value]="limit">{{ limit }}</option>
              </select>
            </div>
            <div>
              <ngb-pagination class="pull-right" [collectionSize]="paging.totalRows"
                [pageSize]="paging.perPage$.getValue()" [(page)]="paging.currentPage" [maxSize]="paging.maxSize"
                [directionLinks]="true" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>Previous</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
        
        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].ts1)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[2].ts1 | typescriptPrismPipe | sanitizeHtml"></div></pre>
        </div>

        <div class="nao-bd-clipboard">
          <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
            ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
        </div>
        <div class="nao-example-highlight">
          <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
        </div>
      </div>

    </div>
  </div>
