<!-- <li>todo: dropdown with ng-select sm|md|lg /dropdown with scroll</li> -->
<!-- <li>todo: dropdown completle white -- https://crm.naologic.com/pre-sales/board/d1a82622272d4d4ea7867fb530c583c4</li> -->
<!-- <li>todo: extra: angular2-text-mask</li> -->

<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Forms</h1>
    <p class="description">
      Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide
      variety of forms.
    </p>
    <div class="elem-container">
      <h2 class="title">Overview</h2>

      <div class="nao-bd-example" [innerHTML]="data[0].html | sanitizeHtml"> </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Form controls</h2>
    <div class="nao-bd-example" [innerHTML]="data[1].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>
  <div class="elem-container">
    <h2 class="title">Sizing</h2>
    <div class='nao-bd-example' [innerHTML]="data[2].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Max-width</h2>
    <p>You can add this to textare, dropdowns and other form elements</p>
    <div class='nao-bd-example' [innerHTML]="data[3].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Textarea fields</h2>
    <p>This classes remove the resize handle and adds a fixed height.</p>
    <div class='nao-bd-example' [innerHTML]="data[4].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[4].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Labels</h2>
    <p>You can use <code>sup</code> for required fields. </p>
    <div class="nao-bd-example">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Class</th>
              <th>Example</th>
              <th>font-weight</th>
              <th>font-size</th>
              <th>color</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.nao-label-1</code></td>
              <td>
                <label class="nao-label-1">
                  Nao label 1
                  <sup class="text-danger">*</sup>
                </label>
              </td>
              <td><code>400</code></td>
              <td><code>16px</code></td>
              <td>#687196</td>
            </tr>
            <tr>
              <td><code>.nao-label-2</code></td>
              <td>
                <label class="nao-label-2">
                  Nao label 2
                  <sup class="text-danger">*</sup>
                </label>
              </td>
              <td><code>600</code></td>
              <td><code>16px</code></td>
              <td>#687196</td>
            </tr>
            <tr>
              <td><code>.nao-label-sm-2</code></td>
              <td>
                <label class="nao-label-sm-2">
                  Nao label sm 2
                  <sup class="text-danger">*</sup>
                </label>
              </td>
              <td><code>400</code></td>
              <td><code>13px</code></td>
              <td>#687196</td>
            </tr>
            <tr>
              <td><code>.nao-label-sm-3</code></td>
              <td>
                <label class="nao-label-sm-3">
                  Nao label sm 3
                  <sup class="text-danger">*</sup>
                </label>
              </td>
              <td><code>400</code></td>
              <td><code>13px</code></td>
              <td>#030929</td>
            </tr>
            <tr>
              <td><code>.nao-label-sm-4</code></td>
              <td>
                <label class="nao-label-sm-4">
                  Nao label sm 4
                  <sup class="text-danger">*</sup>
                </label>
              </td>
              <td><code>400</code></td>
              <td><code>13px</code></td>
              <td>#A3A9C0</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class='nao-bd-example d-flex flex-column' [innerHTML]="data[5].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[5].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[5].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Validation</h2>
    <p>We recommend using client side validation, but in case you require server side, you can indicate invalid and
      valid form fields with <code>.is-invalid</code> and <code>.is-valid</code>. And for showing a validation message,
      you could use a <code>span</code> with a class of <code>.text-danger</code></p>
    <div class='nao-bd-example' [innerHTML]="data[6].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[6].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[6].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Switches</h2>
    <p>
      A switch has the markup of a custom checkbox but uses the <code>.custom-switch</code> class to render a toggle
      switch. Switches also support the <code>disabled</code> attribute.
    </p>

    <div class='nao-bd-example' [innerHTML]="data[7].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[7].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[7].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Switches sizing</h2>

    <div class='nao-bd-example' [innerHTML]="data[8].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[8].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[8].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Radio buttons</h2>

    <div class='nao-bd-example' [innerHTML]="data[9].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[9].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[9].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Checkboxes</h2>

    <div class='nao-bd-example' [innerHTML]="data[10].html | sanitizeHtml"></div>

    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[10].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[10].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
  </div>

  <div class="elem-container">
    <h2 class="title">Tags</h2>

    <div class="nao-bd-example">
      <div class="row" style="max-width: 450px;">
        <!-- todo: change icons -->
        <div class="col">
          <span class="badge badge-pill nao-tag-1 mb-4">Type something <i class="nao-icon-cancel ml-1"></i></span>
        </div>
        <div class="col">
          <!-- todo: change icons -->
          <span class="badge badge-pill nao-tag-1 nao-tag-sm mb-4">Type something <i class="nao-icon-cancel ml-1"></i></span>
        </div>
        <div class="col">
          <span class="badge badge-pill nao-tag-1">Type something</span>
        </div>
        <div class="col">
          <span class="badge badge-pill nao-tag-1 nao-tag-sm">Type something</span>
        </div>
      </div>

    </div>


    <div class="nao-bd-clipboard">
      <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[11].html)" placement="top"
        ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
    </div>
    <div class="nao-example-highlight">
      <pre><div [innerHTML]="data[11].html | htmlPrismPipe | sanitizeHtml"></div></pre>
    </div>
    
  </div>



</div>
