<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Dropdowns</h1>
    <p class="description">
      <!-- Dropdowns description -->
    </p>


    <div class="elem-container">
      <h2 class="title">Nao ngbDropdown 1</h2>
      <p>Add <code>nao-dropdown-1</code> class to <code>ngbDropdownMenu</code>.</p>
      <p>Example of placement for ngbDropdown: <code></code><br>
        Possible values are <code>"top"</code>, <code>"top-left"</code>, <code>"top-right"</code>,
        <code>"bottom"</code>, <code>"bottom-left"</code>, <code>"bottom-right"</code>, <code>"left"</code>,
        <code>"left-top"</code>, <code>"left-bottom"</code>, <code>"right"</code>, <code>"right-top"</code>,
        <code>"right-bottom"</code> </p>
      <div class="nao-bd-example">
        <div class="btn-group" ngbDropdown [placement]="$flow.isRTL() ? 'bottom-right' : 'bottom-left'">
          <button type="button" class="btn p-0 btn-no-box-shadow" ngbDropdownToggle>
            Menu
          </button>
          <div class="nao-dropdown-1" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Delete</a>
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <p>For changing the dropdown item on hover to the danger one, just add <code>.dropdown-item-danger</code></p>
      <div class="nao-bd-example">
        <div class="btn-group" ngbDropdown container="body"
          [placement]="$flow.isRTL() ? 'bottom-right' : 'bottom-left'">
          <button type="button" class="btn btn-simple-primary" ngbDropdownToggle>
            Menu
          </button>
          <div class="nao-dropdown-1" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Menu item 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Menu item 2</a>
            <a class="dropdown-item" href="javascript:void(0)">Menu item 3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item dropdown-item-danger" href="javascript:void(0)">Menu item 4</a>
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao dropdown 1 with icon</h2>
      <P>Add <code>.dropdown-remove-arrow</code> class if you want to remove the right arrow</P>
      <p>When dropdown is used inside the Bootstrap's <code>navbar</code>, it will not be positioned (to match Bootstrap
        behaviour and work fine on mobile). You can override it by using the <code>display</code> input.
        <br>
        Dropdown menu will be positioned dynamically, even if inside navbar:
        <code>ngbDropdown display="dynamic"</code>.
      </p>
      <div class="nao-bd-example">

        <div ngbDropdown class="btn-group dropdown-remove-arrow"
          [placement]="$flow.isRTL() ? 'bottom-right' : 'bottom-left'">
          <a ngbDropdownToggle href="javascript:void(0)">
            <span class="d-inline-flex align-items-center nao-dropdown-avatar-container">
              <img class="d-block nao-dropdown-avatar rounded-circle"
                src="assets-local/images/placeholder/default-avatar.png" />
              <span class="dot" [ngClass]="{ 'dot_disconnected': false, 'dot_connected': true }"></span>
            </span>
          </a>
          <div ngbDropdownMenu class="nao-dropdown-1">
            <div class="nao-dropdown-profile">
              <div class="d-flex">
                <span class="d-inline-flex align-items-center nao-dropdown-avatar-container mr-2">
                  <img class="d-block nao-dropdown-avatar rounded-circle"
                    src="assets-local/images/placeholder/default-avatar.png" />
                  <span class="dot" [ngClass]="{ 'dot_disconnected': false, 'dot_connected': true }"></span>
                </span>
                <div class="d-flex flex-column">
                  <span class="font-weight-bold">Jon Doe</span>
                  <span class="nao-dropdown-small-text">jon@naologic.com</span>
                </div>
              </div>
            </div>
            <a href="javascript:void(0)" class="dropdown-item">
              Your account
            </a>
            <a href="javascript:void(0)" class="dropdown-item">
              Invite People
            </a>
            <a href="javascript:void(0)" class="dropdown-item">
              Log Out
            </a>
          </div>
        </div>

      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>


    <div class="elem-container">
      <h2 class="title">Nao ngbDropdown 2</h2>
      <P>Used in dashboard cards</P>
      <div class="nao-bd-example">
        <div class="btn-group" ngbDropdown [placement]="$flow.isRTL() ? 'bottom-left' : 'bottom-right'">
          <button class="btn nao-btn-dropdown-menu-1 btn-no-box-shadow" ngbDropdownToggle>Currency
          </button>
          <div class="nao-dropdown-2" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Currency</a>
            <a class="dropdown-item" href="javascript:void(0)">Percentage</a>
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>


    <div class="elem-container">
      <h2 class="title">Nao ngbDropdown 3</h2>
      <p>Dropdown with no <code>paddings top/bottom</code>, added <code>header</code> inside the <code>dropdown
          menu</code> and <code>disabled</code> menu items.</p>
      <div class="nao-bd-example">

        <div class="dropdown-remove-arrow" ngbDropdown container="body"
          [placement]="$flow.isRTL() ? 'bottom-right' : 'bottom-left'">
          <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
            Include
          </button>
          <div class="p-0 nao-dropdown-3" ngbDropdownMenu>
            <div class="dropdown-item dropdown-item-header">Header example
            </div>
            <a class="dropdown-item" href="javascript:void(0)">Menu item 1</a>
            <a class="dropdown-item disabled" href="javascript:void(0)">Menu disabled</a>
            <a class="dropdown-item disabled" href="javascript:void(0)">Menu disabled</a>
            <a class="dropdown-item" href="javascript:void(0)">Menu item 4</a>
          </div>
        </div>

      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[4].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>


    <div class="elem-container">
      <h2 class="title">Size example for ngbDropdowns</h2>
      <p>For adding a certain size to dropdown-items, just add a <code>min-width: 240px</code> to them.</p>
      <div class="nao-bd-example">

        <div class="dropdown-remove-arrow" ngbDropdown container="body"
          [placement]="$flow.isRTL() ? 'bottom-right' : 'bottom-left'">
          <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
            Include
          </button>
          <div class="p-0 nao-dropdown-3" ngbDropdownMenu>
            <div class="dropdown-item dropdown-item-header">Header example
            </div>
            <a class="dropdown-item" href="javascript:void(0)" style="min-width: 300px">Menu item 1</a>
            <a class="dropdown-item" href="javascript:void(0)" style="min-width: 300px">Menu item 2</a>
            <a class="dropdown-item" href="javascript:void(0)" style="min-width: 300px">Menu item 3</a>
          </div>
        </div>

      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[5].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[5].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>



    Other examples, documentation, and API: <i><a href="https://ng-bootstrap.github.io/#/components/dropdown/api">
        https://ng-bootstrap.github.io/#/components/dropdown/api</a></i>


    <div class="elem-container">
      <h2 class="title">Basic ng-select</h2>
      <div class='nao-bd-example nao-ng-select-example'>
        <label class="nao-label-1">Simple ng-select</label>
        <ng-select class="nao-mw-210" placeholder="Select a value" [searchable]="false">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
        <label class="nao-label-1">Ng-select where you can't clear the selected value.</label>
        <ng-select class="nao-mw-210" placeholder="Select a value" [clearable]="false" [clearOnBackspace]="false">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
        <label class="nao-label-1">Ng-select that has the dropdown position above and you could select multiple
          values.</label>
        <ng-select class="nao-mw-210" placeholder="Select a value" dropdownPosition="top" [multiple]="true">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
        <label class="nao-label-1">Ng-select that is loading</label>
        <ng-select class="nao-mw-210" placeholder="Select a value" loading="true" loadingText="Nao loading">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
        <label class="nao-label-1">Ng-select with custom <code>not found</code> search message</label>
        <ng-select class="nao-mw-210" placeholder="Select a value" searchable="true"
          notFoundText="Sorry no matching options">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[6].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[6].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>


    </div>

    <div class="elem-container">
      <h2 class="title">Sizes for ng-select</h2>
      <div class='nao-bd-example nao-ng-select-example'>
        <label class="nao-label-1">Default ng-select</label>
        <ng-select class="nao-mw-210" placeholder="Default">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
        <label class="nao-label-1">Small ng-select</label>
        <ng-select class="nao-ng-select-sm nao-mw-210" placeholder="Small">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select>
        <!-- <label class="nao-label-1">Extra-small ng-select</label>
        <ng-select class="nao-ng-select-xs nao-mw-210" placeholder="XS">
          <ng-option>Option 1</ng-option>
          <ng-option>Option 2</ng-option>
          <ng-option>Option 3</ng-option>
        </ng-select> -->
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[7].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[7].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao ng-select-sm-2</h2>
      <p>Mainly used in input groups</p>
      <div class='nao-bd-example nao-ng-select-example'>
        <label class="nao-label-1">Nao ng-select-sm-2</label>
        <ng-select class="nao-ng-select-sm-2 nao-mw-230" [clearable]="false" [searchable]="false"
          placeholder="Choose type of measurement">
          <ng-option value="cm">
            Cm</ng-option>
          <ng-option value="in">
            In</ng-option>
        </ng-select>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[8].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[8].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">API</h2>
      <i><a href="https://ng-select.github.io/ng-select#/data-sources">
          https://ng-select.github.io/ng-select#/data-sources</a></i>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Default</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[addTag]</td>
              <td><code>boolean | ((term: string) =&gt; any | Promise&lt;any&gt;)</code></td>
              <td><code>false</code></td>
              <td>no</td>
              <td>Allows to create custom options.</td>
            </tr>
            <tr>
              <td>addTagText</td>
              <td><code>string</code></td>
              <td><code>Add item</code></td>
              <td>no</td>
              <td>Set custom text when using tagging</td>
            </tr>
            <tr>
              <td>appearance</td>
              <td><code>string</code></td>
              <td><code>underline</code></td>
              <td>no</td>
              <td>Allows to select dropdown appearance. Set to <code>outline</code> to add border instead of underline
                (applies only to Material theme)</td>
            </tr>
            <tr>
              <td>appendTo</td>
              <td><code>string</code></td>
              <td>null</td>
              <td>no</td>
              <td>Append dropdown to body or any other element using css selector. For correct positioning
                <code>body</code> should have <code>position:relative</code></td>
            </tr>
            <tr>
              <td>bindValue</td>
              <td><code>string</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Object property to use for selected model. By default binds to whole object.</td>
            </tr>
            <tr>
              <td>bindLabel</td>
              <td><code>string</code></td>
              <td><code>label</code></td>
              <td>no</td>
              <td>Object property to use for label. Default <code>label</code></td>
            </tr>
            <tr>
              <td>[closeOnSelect]</td>
              <td><code>boolean</code></td>
              <td>true</td>
              <td>no</td>
              <td>Whether to close the menu when a value is selected</td>
            </tr>
            <tr>
              <td>clearAllText</td>
              <td><code>string</code></td>
              <td><code>Clear all</code></td>
              <td>no</td>
              <td>Set custom text for clear all icon title</td>
            </tr>
            <tr>
              <td>[clearable]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Allow to clear selected value. Default <code>true</code></td>
            </tr>
            <tr>
              <td>[clearOnBackspace]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Clear selected values one by one when clicking backspace. Default <code>true</code></td>
            </tr>
            <tr>
              <td>[compareWith]</td>
              <td><code>(a: any, b: any) =&gt; boolean</code></td>
              <td><code>(a, b) =&gt; a === b</code></td>
              <td>no</td>
              <td>A function to compare the option values with the selected values. The first argument is a value from
                an option. The second is a value from the selection(model). A boolean should be returned.</td>
            </tr>
            <tr>
              <td>dropdownPosition</td>
              <td><code>bottom</code> | <code>top</code> | <code>auto</code></td>
              <td><code>auto</code></td>
              <td>no</td>
              <td>Set the dropdown position on open</td>
            </tr>
            <tr>
              <td>[groupBy]</td>
              <td><code>string</code> | <code>Function</code></td>
              <td>null</td>
              <td>no</td>
              <td>Allow to group items by key or function expression</td>
            </tr>
            <tr>
              <td>[groupValue]</td>
              <td><code>(groupKey: string, cildren: any[]) =&gt; Object</code></td>
              <td>-</td>
              <td>no</td>
              <td>Function expression to provide group value</td>
            </tr>
            <tr>
              <td>[selectableGroup]</td>
              <td><code>boolean</code></td>
              <td>false</td>
              <td>no</td>
              <td>Allow to select group when groupBy is used</td>
            </tr>
            <tr>
              <td>[selectableGroupAsModel]</td>
              <td><code>boolean</code></td>
              <td>true</td>
              <td>no</td>
              <td>Indicates whether to select all children or group itself</td>
            </tr>
            <tr>
              <td>[items]</td>
              <td><code>Array&lt;any&gt;</code></td>
              <td><code>[]</code></td>
              <td>yes</td>
              <td>Items array</td>
            </tr>
            <tr>
              <td>[loading]</td>
              <td><code>boolean</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>You can set the loading state from the outside (e.g. async items loading)</td>
            </tr>
            <tr>
              <td>loadingText</td>
              <td><code>string</code></td>
              <td><code>Loading...</code></td>
              <td>no</td>
              <td>Set custom text when for loading items</td>
            </tr>
            <tr>
              <td>labelForId</td>
              <td><code>string</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Id to associate control with label.</td>
            </tr>
            <tr>
              <td>[markFirst]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Marks first item as focused when opening/filtering.</td>
            </tr>
            <tr>
              <td>[isOpen]</td>
              <td><code>boolean</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Allows manual control of dropdown opening and closing. <code>True</code> - won't close.
                <code>False</code> - won't open.</td>
            </tr>
            <tr>
              <td>maxSelectedItems</td>
              <td><code>number</code></td>
              <td>none</td>
              <td>no</td>
              <td>When multiple = true, allows to set a limit number of selection.</td>
            </tr>
            <tr>
              <td>[hideSelected]</td>
              <td><code>boolean</code></td>
              <td><code>false</code></td>
              <td>no</td>
              <td>Allows to hide selected items.</td>
            </tr>
            <tr>
              <td>[multiple]</td>
              <td><code>boolean</code></td>
              <td><code>false</code></td>
              <td>no</td>
              <td>Allows to select multiple items.</td>
            </tr>
            <tr>
              <td>notFoundText</td>
              <td><code>string</code></td>
              <td><code>No items found</code></td>
              <td>no</td>
              <td>Set custom text when filter returns empty result</td>
            </tr>
            <tr>
              <td>placeholder</td>
              <td><code>string</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Placeholder text.</td>
            </tr>
            <tr>
              <td>[searchable]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Allow to search for value. Default <code>true</code></td>
            </tr>
            <tr>
              <td>[readonly]</td>
              <td><code>boolean</code></td>
              <td><code>false</code></td>
              <td>no</td>
              <td>Set ng-select as readonly. Mostly used with reactive forms.</td>
            </tr>
            <tr>
              <td>[searchFn]</td>
              <td><code>(term: string, item: any) =&gt; boolean</code></td>
              <td><code>null</code></td>
              <td>no</td>
              <td>Allow to filter by custom search function</td>
            </tr>
            <tr>
              <td>[searchWhileComposing]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Whether items should be filtered while composition started</td>
            </tr>
            <tr>
              <td>[trackByFn]</td>
              <td><code>(item: any) =&gt; any</code></td>
              <td><code>null</code></td>
              <td>no</td>
              <td>Provide custom trackBy function</td>
            </tr>
            <tr>
              <td>[clearSearchOnAdd]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Clears search input when item is selected. Default <code>true</code>. Default <code>false</code> when
                <strong>closeOnSelect</strong> is <code>false</code></td>
            </tr>
            <tr>
              <td>[selectOnTab]</td>
              <td><code>boolean</code></td>
              <td><code>false</code></td>
              <td>no</td>
              <td>Select marked dropdown item using tab. Default <code>false</code></td>
            </tr>
            <tr>
              <td>[openOnEnter]</td>
              <td><code>boolean</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Open dropdown using enter. Default <code>true</code></td>
            </tr>
            <tr>
              <td>[typeahead]</td>
              <td><code>Subject</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Custom autocomplete or advanced filter.</td>
            </tr>
            <tr>
              <td>[minTermLength]</td>
              <td><code>number</code></td>
              <td><code>0</code></td>
              <td>no</td>
              <td>Minimum term length to start a search. Should be used with <code>typeahead</code></td>
            </tr>
            <tr>
              <td>typeToSearchText</td>
              <td><code>string</code></td>
              <td><code>Type to search</code></td>
              <td>no</td>
              <td>Set custom text when using Typeahead</td>
            </tr>
            <tr>
              <td>[virtualScroll]</td>
              <td><code>boolean</code></td>
              <td>false</td>
              <td>no</td>
              <td>Enable virtual scroll for better performance when rendering a lot of data</td>
            </tr>
            <tr>
              <td>[inputAttrs]</td>
              <td><code>&#123; [key: string]: string &#125;</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Pass custom attributes to underlying <code>input</code> element</td>
            </tr>
            <tr>
              <td>[tabIndex]</td>
              <td><code>number</code></td>
              <td><code>-</code></td>
              <td>no</td>
              <td>Set tabindex on ng-select</td>
            </tr>
            <tr>
              <td>[keyDownFn]</td>
              <td><code>($event: KeyboardEvent) =&gt; bool</code></td>
              <td><code>true</code></td>
              <td>no</td>
              <td>Provide custom keyDown function. Executed before default handler. Return false to suppress execution
                of default key down handlers</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao helper tool</h2>
      <div class='nao-bd-example nao-ng-select-example'>
        <div class="btn-group dropdown-remove-arrow" container="body" ngbDropdown placement="bottom">
          <button class="btn btn-no-box-shadow btn-no-min-width btn-sm p-1" ngbDropdownToggle type="button">
            <i class="nao-icon-help text-primary-lightest"></i> Helper tool
          </button>
          <div class="nao-helper-tool" ngbDropdownMenu>
            <div class="title mb-3 text-uppercase">Helper tool</div>
            <div class="d-flex">
              <i class="nao-icon-information"></i>
              <div>PiedPiper Deployment 1 currently has 8 active business apps. You can add or remove apps from the
                deployment right here and take the changes live immediately
              </div>
            </div>
            <div class="d-flex">
              <i class="nao-icon-information"></i>
              <div>It might take 10-15 minutes for the new functionality to be live in some cases.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[9].html)" placement="top"
                ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>
      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[9].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

  </div>
</div>
