<div class="nao-docs-wrapper">
  <h1>Photography</h1>
  <div class="photography-container">
    <p class="description font-weight-bold">How we express the brand in photography</p>

    <div class="overview-grid">
      <div class="element">
        <h3 class="pb-4"><a href="javascript:void(0)" [routerLink]="['/', 'photography', 'compositions']">Compositions</a></h3>
        <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/overview-1.png" width="290">
        <div class='text-under-img pt-2'>
          Open with negative space
        </div>
      </div>
      <div class="element">
        <h3 class="pb-4"><a href="javascript:void(0)" [routerLink]="['/', 'photography', 'casting']">Casting</a></h3>
        <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/overview-2.png" width="290">

        <div class='text-under-img pt-2'>
          Sotware isn’t intimidating
        </div>
      </div>
      <div class="element">
        <h3 class="pb-4"><a href="javascript:void(0)" [routerLink]="['/', 'photography', 'lighting-and-color']">Lighting and color</a></h3>
        <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/overview-3.png" width="290">

        <div class='text-under-img pt-2'>
          Lots of light and appears natural
        </div>
      </div>
      <div class="element">
        <h3 class="pb-4"><a href="javascript:void(0)" [routerLink]="['/', 'photography', 'locations']">Locations</a></h3>
        <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/photography/overview-4.png" width="290">

        <div class='text-under-img pt-2'>
          Showing character and professionalism
          while being simplified
        </div>
      </div>
    </div>
  </div>
</div>
