<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Colors</h1>
    <p class="description">
      Convey meaning through color with a handful of color utility classes. Includes support for styling links with
      hover states, too.
    </p>

    <div class="elem-container">
      <h2 class="title">Background color</h2>
      <p>Similar to the contextual text color classes, easily set the background of an element to any contextual class.
        Anchor components will darken on hover, just like the text classes. Background utilities <strong>do not set
          <span class="highlighter-warning">color</span></strong>, so in some cases you’ll want to use <span
          class="highlighter-warning">.text-*</span> utilities.</p>

      <div class="nao-bd-example">
        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
        <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].code)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].syntaxHighlighter | prismHtml"></div></pre>
      </div>

    </div>

    <!-- todo: color for text -->
  </div>
</div>
