<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Colors</h1>
    <p class="description">
      Convey meaning through color with a handful of color utility classes. Includes support for styling links with
      hover states, too.
    </p>

    <div class="elem-container">
      <h2 class="title">Background color</h2>
      <p>Similar to the contextual text color classes, easily set the background of an element to any contextual class.
        Anchor components will darken on hover, just like the text classes. Background utilities <strong>do not set
          <span class="highlighter-warning">color</span></strong>, so in some cases you’ll want to use <span
          class="highlighter-warning">.text-*</span> utilities.</p>

      <div class="nao-bd-example d-flex flex-wrap" [innerHTML]="data[0].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>

    </div>
    <div class="elem-container">
      <h2 class="title">Text colors</h2>
      <div class="nao-bd-example d-flex flex-wrap" [innerHTML]="data[1].html1 | sanitizeHtml"></div>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html2)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <h3 class="title ml-2">Example of usage</h3>

        <pre><div [innerHTML]="data[1].html2 | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>

    </div>

    <div class="elem-container">
      <h2 class="title">Labels, backgrounds, shadows</h2>
      <div class="nao-bd-example d-flex flex-wrap" [innerHTML]="data[3].html | sanitizeHtml"></div>
<!-- 
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div> -->

    </div>
  </div>
</div>
