@import "./styles/naologic-crm-theme.scss";
@import "./styles/bootstrap.scss";

@import "./styles/base/global";

@import "./styles/components/buttons";
@import "./styles/components/cards";
@import "./styles/components/dropdown";
@import "./styles/components/form";
@import "./styles/components/modal";
@import "./styles/components/tables";

@import "./styles/pages/nao-navbar";
@import "./styles/pages/nao-sidenav";
@import "./styles/pages/layout";

@import "~@ng-select/ng-select/scss/default.theme.scss";

// todo: fix the menu for the mobile devices

.docs-container {
  margin-left: 285px;
  direction: ltr;

  @include rtl {
    direction: rtl;
    text-align: right;
    margin-left: unset;
    margin-right: 285px;
  }

  @media only screen and (max-width: 576px) {
    margin-left: 0;

    @include rtl {
      margin-right: 0;
    }
  }

  // fix for code syntax highliter
  pre {
    @include rtl {
      direction: ltr;
      text-align: left;
    }
  }

}

.nao-docs-wrapper {
  padding: 72px 40px 0 40px;

  @include media-breakpoint-down(sm) {
    padding: 72px 20px 0 20px;
  }

  .elements-container {
    min-height: calc(100vh - 379px);

    .title {
      width: 80%;
      font-weight: $font-weight-lighter;
      color: var(--text-primary);
    }

    .description {
      width: 80%;
      font-size: pixelToRem(18px);
      font-weight: $font-weight-lighter;
    }
  }

  .elem-container {
    padding: 30px 0;

    .title {
      max-width: 80%;
      font-weight: $font-weight-semibold;
    }

    &>p {
      max-width: 80%;
    }

    .nao-modal-example {
      .modal-dialog {
        margin: auto;
        padding: 20px;
      }

      background-color: rgba(233, 238, 249, 0.4)
    }

    .nao-btn-example {
      .btn {
        margin-right: pixelToRem(5px);
        margin-bottom: pixelToRem(5px);
      }
    }

    .nao-ng-select-example {
      .ng-select {
        margin-bottom: 10px;
      }
    }

    .nao-bd-example {
      position: relative;
      padding: pixelToRem(24px);
      margin-right: 0;
      margin-left: 0;
      border: pixelToRem(5px) solid var(--light-bg);

      .form-control {
        margin-bottom: pixelToRem(5px) !important;
      }

      .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
      }
    }

    .nao-bd-clipboard {
      position: relative;
      float: right;

      .btn-clipboard {
        position: absolute;
        top: pixelToRem(8px);
        right: pixelToRem(20px);
        z-index: 10;
        display: block;
        padding: pixelToRem(4px) pixelToRem(8px);
        font-size: 75%;
        color: var(--text-muted);
        background-color: transparent;
        border: 0;
        border-radius: .25rem;
        outline: none;

        &:hover {
          color: var(--white);
          background-color: var(--primary);
        }
      }
    }

    .nao-example-highlight {
      margin-bottom: pixelToRem(16px);
      padding-bottom: pixelToRem(24px);
      background-color: var(--light-bg);
      max-height: 350px;
      overflow: auto;

      pre {
        overflow: initial;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;

        .nt {
          color: #2f6f9f;
        }

        .na {
          color: #4f9fcf;
        }

        .s {
          color: var(--danger);
        }
      }
    }

    .table-container {
      overflow: auto;

      .table {

        th,
        td {
          border: 1px solid #dee2e6;
        }
      }
    }

  }
}

.highlighter-warning {
  color: var(--danger);
}

.nao-copy-tooltip .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

.nao-colors-showcase {
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
  background-color: var(--white);

  .color-box {
    width: 200px;
    height: 200px;
  }

  .color-ids {
    padding: 13px 12px;

    .name {
      font-weight: $font-weight-bold;
      font-size: pixelToRem(16px);
      color: #000;
    }

    .hexa {
      font-style: oblique;
      font-size: pixelToRem(13px);
      color: #444444;
    }

    .rgb {
      font-style: oblique;
      font-size: pixelToRem(13px);
      color: #444444;
    }
  }
}

.photography-container {
  font-size: pixelToRem(15px);
  color: var(--text-secondary);

  a {
    color: var(--text-secondary);
  }

  .description {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .content {
    max-width: 826px;
    min-height: 400px;
    font-size: pixelToRem(18px);
    margin-bottom: 55px;
  }

  .overview-grid {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 290px 290px;
    grid-row-gap: 95px;
    grid-column-gap: 170px;

    @media screen and (max-width: 1090px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;

      .element {
        margin-bottom: 90px;
      }
    }

    .text-under-img {
      max-width: 289px;
    }
  }

  .images-grid {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 290px 290px;
    grid-row-gap: 30px;
    grid-column-gap: 40px;

    @media screen and (max-width: 960px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;

      img {
        margin-bottom: 40px;
      }
    }
  }
}
