@import "./styles.scss";
// Syntax highlighting theme
@import "node_modules/prismjs/themes/prism";

.docs-container {
  margin-left: 285px;

  @include rtl {
    margin-left: unset;
    margin-right: 285px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;

    @include rtl {
      margin-right: 0;
    }
  }

  // fix for code syntax highliter
  pre {
    @include rtl {
      direction: ltr;
      text-align: left;
    }
  }

}

.nao-docs-wrapper {
  padding: 72px 40px 0 40px;

  @include media-breakpoint-down(sm) {
    padding: 72px 20px 0 20px;
  }

  .elements-container {
    min-height: calc(100vh - 379px);

    .title {
      width: 80%;
      color: var(--text-primary);

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .description {
      width: 80%;
      font-size: pixelToRem(20px);
      font-weight: $font-weight-lighter;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .elem-container {
    padding: 30px 0;

    .title {
      max-width: 80%;
      font-weight: $font-weight-semibold;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    &>p {
      max-width: 80%;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    .nao-modal-example {
      .modal-dialog {
        margin: auto;
        padding: 20px;

        @include media-breakpoint-down(sm) {
          padding: 20px 5px;
        }
      }

      background-color: rgba(233, 238, 249, 0.4)
    }

    .nao-btn-example {
      .btn {
        margin-right: pixelToRem(5px);
        margin-bottom: pixelToRem(5px);
      }
    }

    .nao-ng-select-example {
      .ng-select {
        margin-bottom: 10px;
      }
    }

    .nao-bd-example {
      position: relative;
      padding: pixelToRem(24px);
      margin-right: 0;
      margin-left: 0;
      border: pixelToRem(5px) solid var(--light-bg);

      @include media-breakpoint-down(sm) {
        padding: pixelToRem(24px) pixelToRem(15px);
      }

      .form-control {
        //margin-bottom: pixelToRem(5px) !important;
      }

      .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
      }
    }

    .nao-bd-clipboard {
      position: relative;
      float: right;

      .btn-clipboard {
        position: absolute;
        top: pixelToRem(8px);
        right: pixelToRem(20px);
        z-index: 10;
        display: block;
        padding: pixelToRem(4px) pixelToRem(8px);
        font-size: 75%;
        color: var(--text-6);
        background-color: transparent;
        border: 0;
        border-radius: .25rem;
        outline: none;

        &:hover {
          color: var(--white);
          background-color: var(--primary);
        }
      }
    }

    .nao-example-highlight {
      margin-bottom: pixelToRem(16px);
      padding-bottom: pixelToRem(24px);
      background-color: var(--light-bg);
      max-height: 350px;
      overflow: auto;
      padding-top: 15px;

      pre {
        font-family: "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        overflow: initial;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;

        .nt {
          color: #2f6f9f;
        }

        .na {
          color: #4f9fcf;
        }

        .s {
          color: var(--danger);
        }
      }
    }

    .table-container {
      overflow: auto;

      .table {

        th,
        td {
          border: 1px solid #dee2e6;
        }
      }
    }

  }
}

.highlighter-warning {
  color: var(--danger);
}

.nao-copy-tooltip .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

.nao-box-showcase {
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
  background-color: var(--white);

  .nao-content-preview {
    width: 200px;
    height: 200px;

    i {
      font-size: 62px;
    }
  }

  .nao-content-usage {
    padding: 13px 12px;

    .first-field {
      font-weight: $font-weight-bold;
      font-size: pixelToRem(16px);
      color: #000;
    }

    .second-field {
      font-style: oblique;
      font-size: pixelToRem(13px);
      color: #444444;
    }

    .rgb {
      font-style: oblique;
      font-size: pixelToRem(13px);
      color: #444444;
    }
  }
}

.nao-icons-showcase {
  .nao-content-preview {
    width: 240px;
  }

  .first-field {
    font-size: pixelToRem(14px) !important;
  }
}

.photography-container {
  font-size: pixelToRem(15px);
  color: var(--text-secondary);

  a {
    color: var(--text-secondary);
  }

  .description {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .content {
    max-width: 826px;
    min-height: 400px;
    margin-bottom: 55px;
  }

  .overview-grid {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 290px 290px;
    grid-row-gap: 95px;
    grid-column-gap: 170px;

    @media screen and (max-width: 1090px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;

      .element {
        margin-bottom: 90px;
      }
    }

    .text-under-img {
      max-width: 289px;
    }
  }

  .images-grid {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 290px 290px;
    grid-row-gap: 30px;
    grid-column-gap: 40px;

    @media screen and (max-width: 960px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;

      img {
        margin-bottom: 40px;
      }
    }
  }
}

.icon-construction-sm {
  font-size: pixelToRem(11px);
}

.icon-container-round {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--text-primary);

  .nao-icon-elearning {
    font-size: 21px;
    line-height: 19px;
    color: var(--white);
  }
}

.icon-container-squared {
  border-radius: 16px;
  width: 48px;
  height: 48px;
  background-color: var(--text-primary);

  .nao-icon-elearning {
    font-size: 21px;
    line-height: 19px;
    color: var(--white);
  }
}

.nao-illustration-type {
  width: 243px;
  font-size: pixelToRem(12px);
  color: var(--text-secondary);

  .img-container {
    width: 243px;
    height: 186px;
    position: relative;
  }

  img {
    position: absolute;
    bottom: 0;
    width: 243px;
    object-fit: contain;
  }
}

.nao-btn-spacing {
  max-width: 990px;

  .first-column {
    min-width: 360px;
    max-width: 428px;
  }

  .second-column {
    margin-right: 150px;

    @include rtl {
      margin-right: 0;
      margin-left: 150px;
    }
  }

  .spacing-rectangle {
    box-shadow: 0 1px 3px 0 var(--text-7);
    background-color: rgb(62, 64, 219, 0.25);
    margin-bottom: 25PX;
    display: inline-block;
    margin-right: auto;

    @include rtl {
      margin-right: unset;
      margin-left: auto;
    }
  }

  .rectangle-sm {
    padding: 7.5px;
    border-radius: 3px;
  }

  .rectangle-default {
    padding: 10px;
    border-radius: 4.2px;
  }

  .rectangle-lg {
    padding: 15px;
    border-radius: 5.1px;
  }

  .rectangle-xl {
    padding: 20px;
    border-radius: 7px;
  }
}

.nao-landing-page {
  color: var(--text-primary);

  .hero {
    padding-top: 100px;
    padding: 100px 150px 100px 150px;
    background-image: url("assets-local/images/landing-page/heroimage.png");
    background-size: cover;

    .content {
      width: 100%;
      max-width: 1084px;
      height: 770px;
      border-top-left-radius: pixelToRem(4px);
      border-top-right-radius: pixelToRem(4px);
      background-color: var(--white);
      padding: 200px 75px 0 75px;

      .description {
        max-width: 780px;
        font-size: pixelToRem(85px);
        font-weight: $font-weight-bold;
        color: var(--text-primary);
        ;
      }
    }

    @include media-breakpoint-down(lg) {
      max-height: 780px;

      .content {
        height: 580px;
        padding: 150px 50px 150px 50px;

        .description {
          font-size: pixelToRem(70px);
        }
      }
    }

    @media screen and (max-width: 885px) {
      padding: 100px 80px 100px 80px;
      max-height: 780px;

      .description {
        font-size: pixelToRem(50px);
      }
    }

    @include media-breakpoint-down(sm) {
      max-height: 500px;

      .content {
        height: unset;
        padding: 80px 50px 80px 50px;

        .description {
          font-size: pixelToRem(38px);
        }
      }
    }

    @include media-breakpoint-down(xs) {
      padding: 70px 40px 100px 40px;
      max-height: 340px;

      .content {
        padding: 40px 20px;

        .description {
          font-size: pixelToRem(28px);
        }
      }
    }

  }

  .title {
    font-size: pixelToRem(36px);
    font-weight: $font-weight-extra-bold;

    @include media-breakpoint-down(sm) {
      font-size: pixelToRem(24px);
    }
  }

  .description {
    font-size: pixelToRem(26px);

    @include media-breakpoint-down(sm) {
      font-size: pixelToRem(16px);
    }
  }

  .info-section {
    padding: 150px 40px 100px 40px;

    .content {
      color: var(--text-primary);
      padding-right: 60px;


      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }

    img {
      height: 100%;
    }

    @media screen and (max-width: 1440px) {
      .wrapper {
        max-width: 970px;
      }

      .content {
        max-width: 745px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 80px 40px 100px 40px;
    }
  }

  .elements-section {
    background-color: var(--text-primary);
    padding: 80px 40px 100px 40px;
    color: var(--white);

    a {
      color: var(--white);
    }

    .elements-grid {
      margin-top: 90px;
      display: grid;
      grid-template-columns: 295px 295px 295px;
      grid-column-gap: 118px;
      grid-row-gap: 75px;

      .element {
        width: 291px;

        .title {
          max-width: 290px;
          margin-bottom: 30px;
          font-size: pixelToRem(26px);
          font-weight: $font-weight-regular;
        }
      }

      @include media-breakpoint-down(lg) {
        grid-template-columns: 295px 295px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 40px;
        grid-template-columns: 295px;
        grid-row-gap: 35px;
      }

      @include media-breakpoint-down(xs) {
        grid-row-gap: 25px;
        grid-template-columns: auto;

        .element {
          .title {
            margin-bottom: 15px;
          }
        }
      }
    }

    .nao-icon-arrow-back {
      font-size: pixelToRem(20px);
    }
  }

  .wrapper {
    max-width: 1150px;
  }

  .about-section {
    padding: 100px 40px 150px 40px;

    @include media-breakpoint-down(sm) {
      padding: 100px 20px 150px 20px;
    }
  }

  .nao-icon-arrow-back {
    transform: rotate(180deg);
    display: inline-block;
  }

}
