<div class="nao-docs-wrapper pb-7">
  <div class="elements-container">
    <h1 class="title">Illustration</h1>
    <div class="elem-container">
      <p>
        Our illustration style builds off the simple shapes of our logo.
        Simple shapes, clean lines and playful colors give our illustration a impactful feel and make it easy to digest
        and understand at a glance.
      </p>
      <h3 class="title mt-6 mb-4">Principles</h3>
      <h5>1.</h5>
      <p class="h1 font-weight-normal mb-4">Enterprise software can be playful and modern</p>
      <h5>2.</h5>
      <p class="h1 font-weight-normal mb-4">The future is here</p>
      <h5>3.</h5>
      <p class="h1 font-weight-normal mb-4">Abstract and metaphorical</p>

      <h3 class="title mt-6 mb-5">Types</h3>
      <div class="d-flex flex-wrap">
        <div class="d-flex flex-column nao-illustration-type mr-5">
          <div class="img-container">
            <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/illustration/spot.png">
          </div>
          <span class="mt-4 font-weight-bold">Spot illustration</span>
          <p class="m-0">
            Used in smaller moments, usually paired with copy as visual aid so that the content can be easily
            understood.
          </p>
        </div>
        <div class="d-flex flex-column nao-illustration-type mr-5">
          <div class="img-container">
            <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/illustration/hero.png">
          </div>
          <span class="mt-4 font-weight-bold">Hero illustration</span>
          <p class="m-0">
            Used in high impact moments, and can be used as background with overlaid copy.
          </p>
        </div>
        <div class="d-flex flex-column nao-illustration-type">
          <div class="img-container">
            <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/illustration/windows.png">
          </div>
          <span class="mt-4 font-weight-bold">Permission illustrations</span>
          <p class="m-0">
            Used to bring traditionally frustrating moments a little sense of humor: 404 pages, forbidden, restricted
            access, etc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
