<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Cards</h1>
    <p class="description">
      Cards description
    </p>

    <div class="elem-container">
      <h2 class="title">Example</h2>
      <p>
        Header and/or footer within a card
      </p>

      <div class="nao-bd-example" [innerHTML]="data[0].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao card 1</h2>
      <p>
        Custom card
        <!-- todo: add subtitle/descripition -->
        <!-- <br>todo: add the h1-h6 before finishing the header/footer -->
      </p>

      <div class="nao-bd-example" [innerHTML]="data[1].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao card small for dashboard</h2>
      <p>Custom small card mainly used in dashboards.</p>

      <div class="nao-bd-example" [innerHTML]="data[2].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[2].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[2].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao card large for dashboard</h2>
      <p>Custom large card mainly used in dashboards.</p>

      <div class="nao-bd-example">
        <div class="nao-dashboard-lg-card bg-white">
          <div class="d-flex justify-content-between align-items-center title-container">
            <div class="nao-card-title">Closed deals</div>
            <div class="btn-group" ngbDropdown>
              <button class="btn nao-btn-dropdown-menu-1" ngbDropdownToggle>Currency
              </button>
              <div class="nao-dropdown-2" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0)">Currency</a>
                <a class="dropdown-item" href="javascript:void(0)">Percentage</a>
              </div>
            </div>
          </div>
          <div class="nao-dashboard-card-body">
            Card body
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[3].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[3].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Board card</h2>

      <div class="nao-bd-example" [innerHTML]="data[4].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[4].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[4].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Ticket without badges</h2>

      <div class="nao-bd-example bg-light">

        <div class="nao-kanban-ticket p-3">
          <div class="ticket-header">
            Ticket name
            <div class="btn-group float-right ml-2" ngbDropdown container="body">
              <button type="button" class="btn ticket-btn" ngbDropdownToggle>

              </button>
              <div ngbDropdownMenu class="nao-dropdown-1">
                <a class="dropdown-item" href="javascript:void(0)">Delete</a>
              </div>
            </div>
          </div>
          <div class="ticket-body">
            Ticket body
          </div>
        </div>

      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[5].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[5].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Ticket with badges</h2>

      <div class="nao-bd-example">

        <div class="nao-kanban-ticket p-3">
          <div class="ticket-header">
            Ticket name
            <div class="btn-group float-right ml-2" ngbDropdown container="body">
              <button type="button" class="btn ticket-btn" ngbDropdownToggle>

              </button>
              <div ngbDropdownMenu class="nao-dropdown-1">
                <a class="dropdown-item" href="javascript:void(0)">Delete</a>
              </div>
            </div>
          </div>
          <div class="ticket-body">
            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-arrow-dropdown-filled"></i>
                STATUS
              </div>
              <span class="nao-pill-lg bg-warning text-white">Evaluation</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-arrow-dropdown-filled"></i>
                PRIORITY
              </div>
              <span class="nao-pill-lg bg-danger text-white">High</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-dollar"></i>
                ESTIMATED VALUE
              </div>
              <span class="ticket-text">$12,102</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-item-list"></i>
                ACCOUNT
              </div>
              <span class="badge badge-grey">Enviromerica</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-item-list"></i>
                PRIMARY CONTACT
              </div>
              <span class="badge badge-grey">Julian Goduci</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-item-list"></i>
                INTERACTIONS
              </div>
              <span class="badge badge-grey">Touch One - Proposal Stage</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-item-list"></i>
                KEY DECISION MAKER
              </div>
              <span class="badge badge-grey">Tom Joyce</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-calendar"></i>
                EXPECTED CLOSE DATE
              </div>
              <span class="ticket-text">21/12/2019</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-envelope-2"></i>
                LAST CONTACT
              </div>
              <span class="ticket-text">12/6/2019</span>
            </div>

            <div class="ticket-field">
              <div class="ticket-label">
                <i class="nao-icon-profile-male"></i>
                Owner
              </div>
              <div class="ticket-avatar-icon">
                <span class="badge badge-avatar">
                  Tom Joyce</span>
                <span class="initial-avatar">
                  T
                </span>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[6].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[6].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Kanban lane</h2>

      <div class="nao-bd-example">
        <div class="nao-kanban-lane">
          <div class="nao-lane-header">
            In progress
            <div class="btn-group float-right ml-2" ngbDropdown container="body">
              <button type="button" class="btn ticket-btn" ngbDropdownToggle>

              </button>
              <div ngbDropdownMenu class="nao-dropdown-1">
                <a class="dropdown-item" href="javascript:void(0)">Delete</a>
              </div>
            </div>
          </div>

          <div class="nao-lane-footer">
            <span class="number-cards">0 cards</span>
            <span class="nao-icon-arrow-dropdown-filled"></span>
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[7].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[7].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Kanban lane with tickets</h2>

      <div class="nao-bd-example bg-1">
        <div class="nao-kanban-lane">
          <div class="nao-lane-header">
            In progress
            <div class="btn-group float-right ml-2" ngbDropdown container="body">
              <button type="button" class="btn ticket-btn" ngbDropdownToggle>

              </button>
              <div ngbDropdownMenu class="nao-dropdown-1">
                <a class="dropdown-item" href="javascript:void(0)">Delete</a>
              </div>
            </div>
          </div>

          <div>
            <div class="nao-kanban-ticket p-3">
              <div class="ticket-header">
                Ticket name
                <div class="btn-group float-right ml-2" ngbDropdown container="body">
                  <button type="button" class="btn ticket-btn" ngbDropdownToggle>

                  </button>
                  <div ngbDropdownMenu class="nao-dropdown-1">
                    <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                  </div>
                </div>
              </div>
              <div class="ticket-body">
                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-arrow-dropdown-filled"></i>
                    STATUS
                  </div>
                  <span class="nao-pill-lg bg-warning text-white">Evaluation</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-arrow-dropdown-filled"></i>
                    PRIORITY
                  </div>
                  <span class="nao-pill-lg bg-danger text-white">High</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-dollar"></i>
                    ESTIMATED VALUE
                  </div>
                  <span class="ticket-text">$12,102</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-item-list"></i>
                    ACCOUNT
                  </div>
                  <span class="badge badge-grey">Enviromerica</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-item-list"></i>
                    PRIMARY CONTACT
                  </div>
                  <span class="badge badge-grey">Julian Goduci</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-item-list"></i>
                    INTERACTIONS
                  </div>
                  <span class="badge badge-grey">Touch One - Proposal Stage</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-item-list"></i>
                    KEY DECISION MAKER
                  </div>
                  <span class="badge badge-grey">Tom Joyce</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-calendar"></i>
                    EXPECTED CLOSE DATE
                  </div>
                  <span class="ticket-text">21/12/2019</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-envelope-2"></i>
                    LAST CONTACT
                  </div>
                  <span class="ticket-text">12/6/2019</span>
                </div>

                <div class="ticket-field">
                  <div class="ticket-label">
                    <i class="nao-icon-profile-male"></i>
                    Owner
                  </div>
                  <div class="ticket-avatar-icon">
                    <span class="badge badge-avatar">
                      Tom Joyce</span>
                    <span class="initial-avatar">
                      T
                    </span>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="nao-lane-footer">
            <span class="number-cards">1 cards</span>
            <span class="nao-icon-arrow-dropdown-filled"></span>
          </div>
        </div>
      </div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[8].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[8].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

    <div class="elem-container">
      <h2 class="title">Nao card form</h2>
      <p>With added button below the card</p>

      <div class="nao-bd-example d-flex justify-content-center" [innerHTML]="data[9].html | sanitizeHtml"></div>
      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[9].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[9].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>

  </div>
</div>
