<!-- todo: Add plugin  -->
<!-- todo: all the border radius arethe same -->
<!-- todo: change the secondary color -->

<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Cards</h1>
    <p class="description">
      Cards description
    </p>

    <div class="elem-container">
      <h2 class="title">Example</h2>
      <p>
        Header and/or footer within a card
      </p>

      <div class="nao-bd-example" [innerHTML]="data[0].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[0].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[0].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>
    <div class="elem-container">
      <h2 class="title">Nao card 1</h2>
      <p>
        Custom card
        <!-- todo: add subtitle/descripition -->
      <br>todo: add the h1-h6 before finishing the header/footer
      </p>

      <div class="nao-bd-example" [innerHTML]="data[1].html | sanitizeHtml"></div>

      <div class="nao-bd-clipboard">
        <button type="button" class="btn-clipboard" (click)="copyToClipboard(data[1].html)" placement="top"
          ngbTooltip="Copied!" tooltipClass="nao-copy-tooltip" triggers="click" autoClose="false">Copy</button>
      </div>

      <div class="nao-example-highlight">
        <pre><div [innerHTML]="data[1].html | htmlPrismPipe | sanitizeHtml"></div></pre>
      </div>
    </div>
  </div>
</div>
