<div class="nao-landing-page">
  <div class="hero">
    <div class="content mx-auto">
      <div class="description">
        The unknown is exciting, just not in a design system
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="wrapper d-flex flex-row mx-auto">
      <div class="content">
        <div class="title mb-4">
          Growth is one thing, responsible growth is something completely different
        </div>
        <div class="description">
          With our company’s growth and direction, we need a brand identity that is efficient to use, flexible across
          applications, and able to feature localized content in a globally consistent way. These guidelines cover all
          our
          major elements: color, composition, iconography, illustration, photography and typography.
        </div>
      </div>
      <div class="d-none d-lg-block">
        <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/image-section.png">
      </div>
    </div>

  </div>

  <div class="elements-section">
    <div class="wrapper mx-auto">
      <div class="title mb-4">
        The system
      </div>
      <div class="description">
        Our system is comprised of 6 core elements
      </div>

      <div class="elements-grid">

        <div class="element d-flex flex-column">
          <div class="title">
            Typography
          </div>
          <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/typography.png">
        </div>

        <div class="element d-flex flex-column">
          <div class="title">
            Colors
          </div>
          <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/colors.png">
        </div>

        <div class="element d-flex flex-column">
          <div class="title">
            Iconography
          </div>
          <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/iconography.png">
        </div>

        <div class="element d-flex flex-column">
          <div class="title">
            Illustration
          </div>
          <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/illustration.png">
        </div>

        <div class="element d-flex flex-column">
          <div class="title">
            Composition
          </div>
          <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/composition.png">
        </div>

        <div class="element d-flex flex-column">
          <div class="title">
            Tables
          </div>
          <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/landing-page/tables.png">
        </div>

      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="wrapper mx-auto">
      <div class="title mb-4">
        About our system
      </div>
      <div class="description">
        All of Naologic’s brand features are proprietary. If you opt to use any trademarks, logos, designs, and/or
        other
        brand features, you acknowledge your acceptance of the terms in the brand guidelines.
      </div>
    </div>
  </div>
</div>
