<div class="nao-docs-wrapper">
  <h1 class="pb-4">Locations</h1>
  <div class="photography-container">
    <p class="content font-weight-bold">
      Goal: Communicate use cases of our product through use of locations
      <br><br>
      Select locations for unique appearance, character, and feel—background
      colors are a plus. Yet locations do not need to be identifiable, and may seem
      familiar to people from a range of places
      <br><br>
      Do not include monuments that a tourist would pose in front of
      <br><br>
      Scenes should capture the least amount of elements to convey the story
      <br><br>
      Avoid cluttered or visually busy elements that distract from the subject
      <br><br>
      Subjects should be engaging with their environment, not just posing in front of it
    </p>

    <h6 class="mb-3">Lots of light and appears natural</h6>
    <div class="images-grid">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/overview-4.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/7.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/8.png" width="290">
      <img src="https://d326ktrzuzy7hz.cloudfront.net/images/design/9.png" width="290">
    </div>
  </div>
</div>
