body {
  direction: ltr;
  line-height: normal;
}

// Class for RTL fixing
.body-rtl {}

// Class for skipping .mr-* .ml-* .pr=* .pl-*
.skip-rtl {}

a {
  &:hover {
    text-decoration: none;
  }
}

// Fix margin for pagination
.pagination {
  margin-bottom: 0 !important;
}
